@charset "utf-8"; 

#panel_notice_container_ultimo,#panel_notice_container_destacado,#panel_notice_container_anterior
	{
	position: relative;
	left: 0px;
	top: 0px;
	margin: 0;
	height: 460px;
	padding: 0px 0px 0px 0px;
}

#panel_notice_container_ultimo .customScrollBox,#panel_notice_container_destacado .customScrollBox,#panel_notice_container_anterior .customScrollBox
	{
	position: relative;
	height: 100%;
	overflow: hidden;
}

#panel_notice_container_ultimo .customScrollBox .container,#panel_notice_container_destacado .customScrollBox .container,#panel_notice_container_anterior .customScrollBox .container
	{
	position: relative;
}

#panel_notice_container_ultimo .customScrollBox .content,#panel_notice_container_destacado .customScrollBox .content,#panel_notice_container_anterior .customScrollBox .content
	{
	clear: both;
	margin-bottom: -10px
}

#panel_notice_container_ultimo .dragger_container,#panel_notice_container_destacado .dragger_container,#panel_notice_container_anterior .dragger_container
	{
	position: absolute;
	width: 3px;
	height: 460px;
	float: right;
	cursor: pointer;
	top: 0px;
	right: 1px;
	overflow: visible;
	z-index: 10;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #004A25;
}

#panel_notice_container_ultimo .dragger,#panel_notice_container_destacado .dragger,#panel_notice_container_anterior .dragger
	{
	position: absolute;
	top: 0px;
	left: -5px;
	width: 8px;
	height: 9px;
	background-color: #333;
	margin: 0px;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-image: url(../recursos/deportes_scrooll_background.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#panel_notice_container_ultimo .dragger:hover,#panel_notice_container_destacado .dragger:hover,#panel_notice_container_anterior .dragger:hover
	{
	background-color: #333;
}

#panel_torneo_container {
	position: relative;
	left: 0px;
	top: 0px;
	margin: 0;
	height: 180px;
	padding: 0px 0px 0px 0px;
}

#panel_torneo_container .customScrollBox {
	position: relative;
	height: 100%;
	overflow: hidden;
}

#panel_torneo_container .customScrollBox .container {
	position: relative;
	width: 100%;
	top: 0;
	float: left;
}

#panel_torneo_container .customScrollBox .content {
	clear: both;
}

#panel_torneo_container .dragger_container {
	position: absolute;
	width: 3px;
	height: 100%;
	float: right;
	cursor: pointer;
	top: 0px;
	right: 1px;
	overflow: visible;
	z-index: 10;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #004A25;
}

#panel_torneo_container .dragger {
	position: absolute;
	width: 8px;
	height: 9px;
	left: -5px;
	background-color: #333;
	margin-left: 0px;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-image: url(../recursos/deportes_scrooll_background.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#panel_torneo_container p {
	margin: 0px;
	padding: 10px;
}

#panel_inforDepor_container_aviso,#panel_inforDepor_container_ficha,#panel_inforDepor_container_calendar
	{
	position: relative;
	left: 0px;
	top: 0px;
	margin: 0;
	height: 330px;
	padding: 0px 0px 0px 0px;
}

#panel_inforDepor_container_aviso .customScrollBox,#panel_inforDepor_container_ficha .customScrollBox,#panel_inforDepor_container_calendar .customScrollBox
	{
	position: relative;
	height: 100%;
	overflow: hidden;
}

#panel_inforDepor_container_aviso .customScrollBox .container,#panel_inforDepor_container_ficha .customScrollBox .container,#panel_inforDepor_container_calendar .customScrollBox .container
	{
	position: relative;
	width: 100%;
	top: 0;
	float: left;
}

#panel_inforDepor_container_aviso .customScrollBox .content,#panel_inforDepor_container_ficha .customScrollBox .content,#panel_inforDepor_container_calendar .customScrollBox .content
	{
	clear: both;
}

#panel_inforDepor_container_aviso .dragger_container,#panel_inforDepor_container_ficha .dragger_container,#panel_inforDepor_container_calendar .dragger_container
	{
	position: absolute;
	width: 3px;
	height: 100%;
	float: right;
	cursor: pointer;
	top: 0px;
	right: 1px;
	overflow: visible;
	z-index: 10;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #004A25;
}

#panel_inforDepor_container_aviso .dragger,#panel_inforDepor_container_ficha .dragger,#panel_inforDepor_container_calendar .dragger
	{
	position: absolute;
	width: 8px;
	height: 9px;
	left: -5px;
	background-color: #333;
	margin-left: 0px;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-image: url(../recursos/deportes_scrooll_background.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#panel_inforDepor_container_aviso p,#panel_inforDepor_container_ficha p,#panel_inforDepor_container_calendar p
	{
	margin: 0px;
	padding: 3px;
}