*{
	*margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
}
#contenedor{
	width: 100px;
	margin: 0 ;
	padding: 4px auto;
}
#auspiciadores{
	background: #928F00;
	margin-bottom: 10px;
	width: 1000px;

}
#menu{
	background: #928F00;
	width: 1000px;
	margin-bottom: 10px;

}
#slider{
	background: #928F00;
	width: 1000px;
	margin-bottom: 10px;

}
#informativa_deportiva,#ranking{
	display: inline-block;
	width: 650px;
	margin-bottom: 10px;
}
#informativa_deportiva{
	background: #928F00;

}
#ranking{
	background: #928F00;
	width: 340px;
}
#noticia{
	background: #928F00;
	width: 100px;
	margin-bottom: 10px;

}
#imagenes,#videos{
	display: inline-block;
	width: 495px;
	margin-bottom: 10px;
}
#imagenes{
	background: #928F00;

}
#videos{
	background: #928F00;

}