@charset "iso-8859-2";
/* inge */
/***********************LINEAS***********/
.bold-sep { height: 2px; background-color: #e8e8e8; width: 100%; margin: 1% auto 2% auto; position:relative; display:inline-block }
.cont-sep { height: 1px; background-color: #e8e8e8; width: 100%; margin: 2% auto 2% auto; position:relative; display:inline-block }


.thin-sep { height: 0; width: 100%; margin: 1% auto 1% auto; position:relative; display:inline-block }
.linea-sep { height: 0; width: 100%; margin: 2% auto 2% auto; position:relative; display:inline-block }
.cont2-sep { height: 1; background-color:#e8e8e8; width: 100%; margin: 15px auto 15px auto; position:relative; display:inline-block }
.cont22-sep { height: 1; background-color:#FFF; width: 100%; margin: 15px auto 15px auto; position:relative; display:inline-block }

.cont3-sep { height: 0; width: 100%; margin: 3% auto 3% auto; position:relative; display:inline-block }
.cont4-sep { height: 0; width: 100%; margin: 1% auto 0.5% auto; position:relative; display:inline-block }
.cont5-sep { height: 0; width: 100%; margin: 5% auto 5% auto; position:relative; display:inline-block }
.cont6-sep { height: 1px; background-color: #e8e8e8;  width: 100%; margin: 1% auto 2% auto; position:relative; display:inline-block }


.linea-top { height: 4px; background-image:url(http://somosteamperu.pe/images/linea_top.jpg); background-repeat:repeat-x; width: 100%; margin: 0; position:relative; display:inline-block }
.linea-bottom { height: 59px; background-image:url(http://somosteamperu.pe/images/pie_detalle.png); background-repeat:repeat-x; width: 100%; margin: 0; position:relative; display:inline-block }
.linea-bottom2 { height: 6px; background-image:url(http://somosteamperu.pe/images/pie_colores.jpg); background-repeat:repeat-x; width: 100%; margin: 0; position:relative; display:inline-block }
/***********************FIN LINEAS***********/



#categoria{
  position: relative;
  width: 100%;
  text-align:center;
  /*background: #FFF;
  background: rgba(255, 255, 255, 0.8);*/
  overflow: hidden;
  padding: 0 100px;
  /*z-index:9999999999;*/
		
}

#logos {
  padding-top: 0;
  position: absolute;
  top: 0;
  margin-left:0;
  margin-top:0;
  z-index:99999999;
}
img.scaleimg {
	width: 100%;
    height: auto;
}

img.scaleimg2 {
	width: 50%;
    height: auto;
}




@media only screen and (min-width: 20px) and (max-width: 767px) {  
img.scaleimg2 {
	width: 100%;
    height: auto;
}
}

.ocultar         { visibility: hidden; display:none }
@media only screen and (min-width: 20px) and (max-width: 960px) {  
.ocultar         { visibility: visible; display:inline; }
}

.ocultar2         { visibility: visible; display:inline; }
@media only screen and (min-width: 20px) and (max-width: 960px) {  
.ocultar2         { visibility: hidden; display:none }
}


#viedeo {
	width: 100%;
    height: 550px;
}


@media only screen and (min-width: 768px) and (max-width: 1200px) {  
#viedeo {
	width: 100%;
    height: 400px;
}
}

@media only screen and (max-width: 767px) {  
#viedeo {
	width: 100%;
    height: 250px;
}
}