.img_noborder{
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
}
.display_inline{
	display: inline-block;
	vertical-align: middle;
}
.a_link{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.background-red{
	background: #C00C2D;
}
.color-red{
	color: #C00C2D;
}
.title_section{
	color: #C00C2D;
	font-size: 23px;
	font-weight: bold;
	padding: 10px;
}
.border-top{
	border-top: 2px solid #C00C2D;
}
.border-bottom{
	border-bottom: 2px solid #C00C2D;
}
.border-left{
	border-left: 2px solid #C00C2D;
}
.border-right{
	border-right: 2px solid #C00C2D;
}
.all_img{
	width: 100%;
	height: 100%;
}
.play{
	background: url(../img/png/play.png);
	background-repeat: no-repeat;
	top: 10%;
	left: 23%;
	position: absolute;
	width: 100%;
	height: 100%;
}
.icon-menu{
	background: url(../img/png/menu2.png);
	background-repeat: no-repeat;
	width: 29px;
	height: 29px;
	position: absolute;
	top: 20px;
	left: 25px;
}
.icon-date{
	background: url(../img/png/calendar2.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 17px;
	position: absolute;
	left: 5px;
	top: 3px;
}