@charset "utf-8"; 

ul,ol {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: underline;
}




body {
	cursor: default;
	font-family: Arial, Tahoma, sans-serif;
	padding: 0px;
	background-color: rgb(245, 245, 245);
 	/*background: url(../img/png/tn_background_page.png); */
	background-position: center top;
	background-repeat: no-repeat;
}

.fnd_deportes {
	background-color: #FFF;
	background-image: url(../img/jpg/background_tenis.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	_background-attachment: fixed;
}

.point-selected{
	display: none;
	background: url(../img/png/point-selected.png) no-repeat;
	background-position: 0px -5px;
	position: absolute;
	top: 30.875px;
	left: -32px;
	width: 35px;
	height: 50px;
}

html {
	height: 100%;
	background: transparent;
	min-width: 1000px;
	height: 100%;
	margin: 0;
	padding: 0;
	outline: 0;
	vertical-align: top;
	font-size: 100%;
}

img {
	border: none;
}

img,.corner_div_2 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.corner_div_4 {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.corner_div_6 {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.corner_div_noBottom_6 {
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}

.dpt_body {
	font-size: 12px;
	padding-bottom: 0px;
	min-width: 1000px
}

.dpt_container_uno {
	
}

.dpt_container_dos {
	
}

.dpt_section {
	width: 1000px;
	margin: 0 auto;
	background-color: #FFF;
}

.panel_background_uno {
	background-color: #FFF;
	background-image: url(../img/png/background_panel_uno.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	border: 1px solid #CCC;
}



.panel_item_uno {
	background-repeat: repeat-x;
	background-position: left bottom;
	position: relative;
	height: 945px;
	border: 1px solid #CCC;
	background-image: url(../recursos/dpt_section_backgronud.png);
	z-index: 0;
}

.panel_item_dos {
	background-repeat: repeat-x;
	background-position: left top;
	bottom: 0px;
	height: 130px;
	border: 1px solid #CCC;
	background-image: url(../recursos/dpt_section_bottom_backgronud.png);
	z-index: 10;
} /**/
.dpt_titulo_modulo {
	font-size: 26px;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	color: #069
}

.tn_backgroung_titulo_modulo {
	background-repeat: repeat-x;
	background-position: left bottom;
	border-style: solid;
	border-width: 1px;
}

.nofound {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	text-align: center;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #FCC;
	border-bottom-color: #FCC;
	background-color: #FFE6E6;
	color: #FF0F4B;
	padding: 10px 0px 10px 0px;
	margin: 20px 0 0 0;
}

.tn_backgroung_titulo_modulo_celeste {
	_background-color: #AE0000;
	background-image: linear-gradient(top, #AE0000, #8F0603);
	background-image: -moz-linear-gradient(top, #AE0000, #8F0603);
	background-image: -o-linear-gradient(top, #AE0000, #8F0603);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#AE0000),
		to(#8F0603) );
	background-image: -webkit-linear-gradient(top, #AE0000, #8F0603);
	_background-image: url(../img/png/background_titulo_modulo_celeste.png);
	border-color: #9D0000;
}

.tn_backgroung_titulo_modulo_azul {
	_background-color: #AE0000;
	background-image: linear-gradient(top, #AE0000, #8F0603);
	background-image: -moz-linear-gradient(top, #AE0000, #8F0603);
	background-image: -o-linear-gradient(top, #AE0000, #8F0603);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#AE0000),
		to(#8F0603) );
	background-image: -webkit-linear-gradient(top, #AE0000, #8F0603);
	_background-image: url(../img/png/background_titulo_modulo_azul.png);
	border-color: #9D0000;
}

.tn_backgroung_titulo_modulo_black {
	background-color: #666;
	background-image: url(../img/png/background_titulo_modulo_black.png);
	border-color: #333;
}

.panel_modulo_container {
	position: relative;
	margin: 0;
	height: auto;
}

.tn_list_modulo_celeste {
	background-image: url(../img/png/list_modulo_celeste.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 30px;
	width: 30px;
	position: absolute;
	z-index: 20;
	left: 5px;
	top: -1px;
	display: none;
}

.tn-titulo-container {
	padding: 5px 5px 2px 15px;
	height: 21px;
	background-image: url(../img/png/background_titulo_modulo_z.png);
	background-repeat: no-repeat;
	background-position: right top;
}

.style_font {
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: white;
	display: inline-block;
	letter-spacing: 0px;
	text-shadow: 1px 1px 1px #333;
}

.dpt_titulo_modulo .fond_titulo {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-image: url(../recursos/brra_blue_background.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	display: block;
	height: 25px;
	color: #fff;
	font-size: 22px;
	padding: 3px 0px 3px 5px;
}

.style_list_sup {
	position: absolute;
	right: 3px;
	top: 3px;
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url(../recursos/style_list_sup_background.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.dpt_titulo_modulo .font_inscrip {
	background-image: url(../recursos/brra_green_background.png);
	position: relative
}

.dpt_titulo_modulo .font_curso {
	background-image: url(../recursos/brra_blue2_background.png);
	position: relative
}

.dpt_titulo_modulo .font_result {
	background-image: url(../recursos/brra_red_background.png);
	position: relative
} /*STYLOS DE MODULOS*/
.tn-background-portada {
	background-color: f8f8f8;
	background-image: url(../img/png/background_white_portada.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#_deportes_portada {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 4;
	width: 650px;
	height: 370px;
	background-color: #f8f8f8;
}

#_deportes_ranking {
	position: absolute;
	top: 605px;
	right: 0px;
	z-index: 4;
	width: 339px;
	height: 333px;
	background-color: #f8f8f8;
	padding: 1px
}

#_deportes_noticia {
	position: absolute;
	top: 380px;
	left: 0px;
	z-index: 4;
	width: 340px;
	height: 560px;
	background-color: #f8f8f8;
	padding: 1px
}

#_deportes_torneo {
	position: absolute;
	top: 380px;
	left: 350px;
	z-index: 4;
	width: 300px;
	height: 215px;
	background-color: #f8f8f8;
	padding: 1px
}

#_deportes_galeria {
	position: absolute;
	top: 605px;
	left: 350px;
	z-index: 4;
	width: 300px;
	height: 180px;
	background-color: #f8f8f8;
	padding: 1px
}

#_deportes_auspiciadores {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 4;
	width: 339px;
	height: 160px;
	background-color: #f8f8f8;
	padding: 1px
}

#_deportes_inforDepor {
	position: absolute;
	top: 168px;
	right: 0px;
	z-index: 4;
	width: 339px;
	height: 427px;
	background-color: #f8f8f8;
	padding: 1px
}

#_deportes_publi {
	position: absolute;
	top: 795px;
	left: 350px;
	z-index: 4;
	width: 300px;
	height: 146px;
	background-color: none;
	padding: 0px
}

#_deportes_enlaces_rela {
	position: static;
}

#_deportes_inscripciones img,#_deportes_resultados img,#_deportes_actividad img,#_deportes_noticias img,#_deportes_concProm img,#_deportes_addwords img,#_deportes_patrocin img,.dpt_videos img
	{
	filter: alpha(opacity = 98);
	opacity: .98;
}

#_deportes_inscripciones img:hover,#_deportes_resultados img:hover,#_deportes_actividad img:hover,#_deportes_noticias img:hover,#_deportes_concProm img:hover,#_deportes_addwords img:hover,#_deportes_patrocin img:hover,.dpt_videos img:hover
	{
	filter: alpha(opacity = 100);
	opacity: 1;
}

.panel_item_uno .dpt_panel .dpt_item,.panel_item_dos .dpt_panel .dpt_item
	{
	position: absolute;
	z-index: 5
}

#panel_actividad_container .item_activid:hover .activid_content,#panel_addwords_container .item_addwords:hover .addwords_content,#panel_concProm_container .item_concProm:hover .concProm_content,#panel_noticia_container .item_noticia:hover .noticia_content,#panel_resultado_container .item_result:hover .result_content,#panel_inscriptiones_container .item_inscrip:hover .inscrip_content
	{
	color: #4D616C;
}

#panel_actividad_container .item_activid:hover,#panel_addwords_container .item_addwords:hover,#panel_concProm_container .item_concProm:hover,#panel_noticia_container .item_noticia:hover,#panel_resultado_container .item_result:hover,#panel_inscriptiones_container .item_inscrip:hover
	{
	background-color: #F1F5F5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#_deportes_portada .slides_container .slide .portada_image {
	height: 480px;
	width: 1200px;
	margin: 0 auto;
}

#_deportes_portada .slides_container .slide .item_caption_portada {
	position: absolute;
	top: 80px;
	left: 0px;
	z-index: 10;
	color: #FFF;
	font-size: 16px;
	background-image: url(../recursos/background-portada_caption.png);
	background-repeat: repeat-y;
	background-position: lef top;
	padding: 15px 15px 15px 160px;
	width: 515px
}

#_deportes_portada .slides_container .slide .item_caption_portada .portada_titu
	{
	font-family: 'Cuprum', sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: #79D3FF;
	text-shadow: 1px 1px 1px #000;
}

#_deportes_portada .slides_container .slide .item_caption_portada .portada_content
	{
	margin-right: 10px;
	padding: 5px 10px;
	text-align: justify;
}

#_deportes_portada .slides_container .slide .item_caption_portada .portada_link
	{
	padding: 5px 10px 5px 25px;
}

#_deportes_portada .slides_container .slide .item_caption_portada .portada_link a
	{
	color: #01539B;
	background-image:
		url(../recursos/deportes_portada_link_blue_background.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	display: inline-block;
	height: 20px;
	padding: 2px 5px;
	line-height: 16px;
	font-size: 16px;
	border: 1px solid #E0E0E0;
	border-bottom-color: #CCC;
	-webkit-box-shadow: 0 0px 5px rgba(255, 255, 255, .3);
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFF;
}

#_deportes_portada .slides_container .slide .item_caption_portada .portada_link a:hover
	{
	background-image: none;
	background-color: #F4F4F4;
	text-decoration: none;
}

#_deportes_portada .slides_container .slide .item_caption_portada .portada_link .list_link
	{
	color: #C03;
	font-size: 18px;
	padding-right: 5px
} /*RANKING*/
.tn-background-ranking {
	background-color: #363F4B;
	background-image: url(../img/png/background_panel_ranking.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

.panel_ranking {
	padding: 2px;
	margin: 0px 5px;
	height: 226px;
	text-align: center;
}

.tn_ranking_list_header {
	background-color: #E2E2E2;
	padding: 3px 0px 3px 3px;
}

.tn_ranking_list_header div {
	display: inline-block;
	text-align: center
}

.tn_ranking_list_body div {
	display: inline-block
}

.tn_ranking_list_header strong {
	color: #333333
}

.tn_ranking_list_body span {
	color: #464646
}

.tn_ranking_list_body strong {
	color: #393
}

.tn_ranking_list_body {
	background-color: #F6F6F6;
	padding: 5px 0px 5px 3px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #FFF;
	border-bottom-color: #E3E3E3;
}

.tn_ranking_list_rank {
	width: 40px;
	text-align: center
}

.tn_ranking_list_body .tn_ranking_list_rank span {
	color: #C36;
	font-weight: bold
}

.tn_ranking_list_deport {
	width: 190px;
	padding: 0px 5px;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #D6D6D6;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #D6D6D6;
}

.tn_ranking_list_point {
	width: 70px;
	text-align: center
}

.tn-item {
/*border-top: 1px solid #bbb8b8;
border-right: 1px solid #bbb8b8;*/
	/*border-bottom: 1px solid #bbb8b8;*/
}

.tn-nt-title {
	padding: 0px 0px 4px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
}

.tn-nt-title a {
	color: #000000;
	/*font-weight: bold;*/
	font-size: 12px;
	/*text-shadow: 1px 1px 1px rgb(200, 200, 200);*/
	letter-spacing: 0.3px;
	word-spacing: 2px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.tn-nt-image {
	margin: 0px;
	z-index: 1;
}

.tn-nt-date {
	padding: 8px 0px;
	font-size: 10px;
	font-family: Verdana, Geneva, sans-serif
}

.tn-nt-image a img_ {
	background-color: #F4F4F4;
	border: 1px solid #D6D6D6;
	padding: 2px
}

.tn-nt-image a:hover img_ {
	background-color: #F4F4F4;
	border: 1px solid #F03;
	padding: 2px
}

.tn-nt-content {
	color: #296F8F
}

#panel_notice_container_ultimo .item_notice,#panel_notice_container_destacado .item_notice,#panel_notice_container_anterior .item_notice
{
height: 170px;
display: inline-block;
width: 315px;
vertical-align: top;
padding: 0px 7px 20px 10px;
border-top: 1px solid #DADADA;
border-right: 1px solid #DADADA;
}

#panel_notice_container_ultimo .item_notice:hover,#panel_notice_container_destacado .item_notice:hover,#panel_notice_container_anterior .item_notice:hover
	{
	background-color: #f3f3f3;
}

#panel_notice_container_ultimo .item_notice .tn-nt-title,#panel_notice_container_destacado .item_notice .tn-nt-title,#panel_notice_container_anterior .item_notice .tn-nt-title
	{
	display: inline-block;
	vertical-align: top;
	width: 310px;
	padding: 5px 0px 10px 0px;
}

#panel_notice_container_ultimo .item_notice .tn-nt-date,#panel_notice_container_destacado .item_notice .tn-nt-date,#panel_notice_container_anterior .item_notice .tn-nt-date

{
color: #6c6c6c;
display: inline-block;
vertical-align: top;
width: 138px;
border-right: 1px solid #bbb8b8;
}
#panel_notice_container_ultimo .item_notice .tn-nt-social,#panel_notice_container_destacado .item_notice .tn-nt-social,#panel_notice_container_anterior .item_notice .tn-nt-social{
text-align: right;
float: right;
display: inline-block;
vertical-align: top;
width: 172px;
padding-top: 5px;
}

#panel_notice_container_ultimo .tn-nt-social span,#panel_notice_container_destacado .tn-nt-social span,#panel_notice_container_anterior .tn-nt-social span{
display: inline-block;
vertical-align: top;
cursor: pointer;
}

#panel_notice_container_ultimo .tn-nt-social a,#panel_notice_container_destacado .tn-nt-social a,#panel_notice_container_anterior .tn-nt-social a{
text-decoration: none;
}

#panel_notice_container_ultimo .tn-nt-social .rs_face,#panel_notice_container_destacado .tn-nt-social .rs_face,#panel_notice_container_anterior .tn-nt-social .rs_face{
background: url('../img/png/redes_sociales.png') 0px 0px;
height: 21px;
width: 21px;
-webkit-filter: grayscale(60%);
-moz-filter: grayscale(60%);
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
-o-filter: grayscale(60%);
-ms-filter: grayscale(60%);
filter: grayscale(60%);
filter: Gray();
-webkit-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
-moz-transition: all 3s ease;
-ms-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
#panel_notice_container_ultimo .tn-nt-social .rs_face:hover,#panel_notice_container_destacado .tn-nt-social .rs_face:hover,#panel_notice_container_anterior .tn-nt-social .rs_face:hover{
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-o-filter: grayscale(0%);
-ms-filter: grayscale(0%);
filter: none;
}

#panel_notice_container_ultimo .tn-nt-social .rs_twit,#panel_notice_container_destacado .tn-nt-social .rs_twit,#panel_notice_container_anterior .tn-nt-social .rs_twit{
background: url('../img/png/redes_sociales.png') 47px 0px;
height: 21px;
width: 21px;
-webkit-filter: grayscale(60%);
-moz-filter: grayscale(60%);
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
-o-filter: grayscale(60%);
-ms-filter: grayscale(60%);
filter: grayscale(60%);
filter: Gray();
-webkit-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
-moz-transition: all 3s ease;
-ms-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

#panel_notice_container_ultimo .tn-nt-social .rs_twit:hover,#panel_notice_container_destacado .tn-nt-social .rs_twit:hover,#panel_notice_container_anterior .tn-nt-social .rs_twit:hover{
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-o-filter: grayscale(0%);
-ms-filter: grayscale(0%);
filter: none;
}

#panel_notice_container_ultimo .item_notice .tn-nt-image,#panel_notice_container_destacado .item_notice .tn-nt-image,#panel_notice_container_anterior .item_notice .tn-nt-image
{
display: inline-block;
width: 138px;
vertical-align: top;
}

#panel_notice_container_ultimo .item_notice .tn-nt-image img,#panel_notice_container_destacado .item_notice .tn-nt-image img,#panel_notice_container_anterior .item_notice .tn-nt-image img
{
border-radius: 0px;
width: 100%;
height: 97px;
}

#panel_notice_container_ultimo .item_notice .tn-nt-content,#panel_notice_container_destacado .item_notice .tn-nt-content,#panel_notice_container_anterior .item_notice .tn-nt-content
{
color: #6c6c6c;
display: inline-block;
vertical-align: top;
width: 162px;
padding: 0px 0px 0px 10px;
font-size: 12px;
}

.line_notice_bottom{
width: 1000px;
height: 5px;
margin-top: 10px;
background-color: #eceef0;
}

#panel_torneo_container .item_torneo {
	min-height: 20px;
	padding: 5px 15px 5px 23px;
	background-color: #F6F6F6;
	border-top-color: #fff;
	border-bottom-color: #D8D8D8;
}

#panel_torneo_container .item_torneo .tn-list {
	background-image: url(../img/png/tenis-icons.png);
	background-repeat: no-repeat;
	background-position: -67px center;
	position: absolute;
	visibility: visible;
	z-index: 10;
	height: 100%;
	width: 20px;
	left: 0px;
	top: 0px;
}

#panel_torneo_container .item_torneo:hover .tn-list {
	background-position: -103px center;
}

#panel_torneo_container .item_torneo:hover .tn-title a {
	color: #060
}

#panel_torneo_container .item_torneo:hover {
	padding: 5px 15px 5px 23px;
	background-color: #E3F9E7;
	background-image: none;
}

#panel_torneo_container .item_torneo .tn-nt-title {
	margin: 0px 0px 0px 0px;
	color: #666666;
	font-weight: normal
}

#panel_torneo_container .item_torneo .tn-nt-title a {
	color: #333;
	font-weight: normal
}

#panel_torneo_container .item_torneo .tn-nt-content {
	margin: 0px 0px 0px 135px;
	color: #444
}

#panel_gallery_container, #panel_video_container {
	height: 230px;
	width: auto;
	position: relative;
	z-index: 1px;
	padding: 5px;
	overflow: hidden;
}

#panel_gallery_container .tab_image_container,
#panel_video_container .tab_video_container{
	width: 350px;
	height: 100%;
	margin-left: 10px;
}

#panel_gallery_container .tab_image_related,
#panel_video_container .tab_video_related{
	width: 108px;
	margin-left: 10px;
	position: relative;
}

#panel_gallery_container .tab_image_related .GIprev,
#panel_video_container .tab_video_related .GVprev{
	position: absolute;
	top: -30px;
	left: 42.5px;
}

#panel_gallery_container .tab_image_related .GInext,
#panel_video_container .tab_video_related .GVnext{
	position: absolute;
	top: 180px;
	right: 38.5px;
}

#panel_gallery_container .item_galeria {
	margin: 0px
}

#panel_gallery_container .item_galeria .tn-image,
#panel_video_container .item_video .tn-video {
	margin: 0 6px 6px 0px;
	/*display: inline-block*/
}

#panel_gallery_container .item_galeria .tn-image a,
#panel_video_container .item_video .tn-video a {
	overflow: hidden;
	position: relative;
}

#panel_gallery_container .item_galeria .tn-image a i {
	bottom: 2px;
	height: 24px;
	left: 2px;
	position: absolute;
	width: 24px;
	background-image: url(../img/png/gY6pCnDw29i.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#panel_enlaces_container {
	border-top: 2px solid #BA0823;
	height: 120px;
	width: auto;
	position: relative;
	z-index: 1px;
	padding: 5px;
	overflow: hidden;
}

#panel_enlaces_container .item_enlaces {
	margin: 0px
}

#panel_enlaces_container .item_enlaces .tn-image {
	margin: 0 2px 0px 0px;
	display: inline-block
}

#panel_front_container {
	height: 435px;
	width: auto;
	position: relative;
	z-index: 1px;
	/*padding: 5px;*/
	overflow: hidden;
}

#panel_front_container .item_front {
	margin: 0px
}

#panel_front_container .item_front .tn-image {
	margin: 0px 0px 0px 0px;
	display: inline-block;
	width: 100%;
}

#panel_front_container .item_front .tn-caption {
	padding: 10px 10px;
	position: absolute;
	overflow: visible;
	z-index: 10;
	height: 70px;
	bottom: 0px;
	width: 650px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	/*background-image: url(../img/png/background_black_front.png);*/
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.49) 33%, rgba(0,0,0,0.75) 53%, rgba(0,0,0,0.75) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.05)), color-stop(33%,rgba(0,0,0,0.49)), color-stop(53%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0.75)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.49) 33%,rgba(0,0,0,0.75) 53%,rgba(0,0,0,0.75) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.49) 33%,rgba(0,0,0,0.75) 53%,rgba(0,0,0,0.75) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.49) 33%,rgba(0,0,0,0.75) 53%,rgba(0,0,0,0.75) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.49) 33%,rgba(0,0,0,0.75) 53%,rgba(0,0,0,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', endColorstr='#bf000000',GradientType=0 );
	background-repeat: repeat-y;
	background-position: left bottom;
}

#panel_front_container .item_front .tn-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: normal;
	color: #FFF;
}

#panel_front_container .item_front .tn-title a {
	color: #FFF;
}

#panel_front_container .item_front .tn-nt-content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #939393;
}

#panel_auspiciador_container {
	height: 145px;
	width: auto;
	position: relative;
	z-index: 1px;
	padding: 5px;
	overflow: hidden;
	/* right: 0; */
	/* margin-left: -2px; */
}

#panel_auspiciador_container .item_auspiciador {
	margin: 0px
}

#panel_auspiciador_container .item_auspiciador .tn-image {
	margin: 0px 0px 0px 0px;
	display: inline-block
}

#panel_inforDepor_container_aviso .item_inforDepor,#panel_inforDepor_container_ficha .item_inforDepor,#panel_inforDepor_container_calendar .item_inforDepor
	{
	/*min-height: 15px;*/
	padding: 11px 0px 0px 0px;
	/*background-color: #F6F6F6;*/
	border-top-color: #fff;
	border-bottom-color: #D8D8D8;
	display: inline-block;
	max-width: 320px;
	width: 100%;
}
#panel_inforDepor_container_aviso .item_inforDepor .tn-list,#panel_inforDepor_container_ficha .item_inforDepor .tn-list,#panel_inforDepor_container_calendar .item_inforDepor .tn-list
	{
	/*background-image: url(../img/png/tenis-icons.png);
	background-repeat: no-repeat;
	background-position: -67px center;
	position: absolute;
	visibility: visible;
	z-index: 10;
	height: 100%;
	width: 20px;
	left: 0px;
	top: 0px;*/
}
.arrow_information{
	width: 10%;
	display: inline-block;
}
.circle_information{
	background: #D8D9DD;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  /*margin-right: 15px;*/
  text-align: center;
  max-width: 1.4em;
  height: 22px;
  width:10%;
  display: inline-block;
}
#panel_inforDepor_container_aviso .item_inforDepor:hover .tn-list,#panel_inforDepor_container_ficha .item_inforDepor:hover .tn-list,#panel_inforDepor_container_calendar .item_inforDepor:hover .tn-list
	{
	background-position: -103px center;
}

#panel_inforDepor_container_aviso .item_inforDepor:hover .tn-title a,#panel_inforDepor_container_ficha .item_inforDepor:hover .tn-title a,#panel_inforDepor_container_calendar .item_inforDepor:hover .tn-title a
	{
	color: #060
}

#panel_inforDepor_container_aviso
 
.item_inforDepor
:hover
,
#panel_inforDepor_container_ficha
 
.item_inforDepor
:hover
,
#panel_inforDepor_container_calendar
 
.item_inforDepor
:hover
,
{
padding
:
5px
 
15
px
 
5
px
 
23
px
;background-color
:
#E3F9E7
;background-image
:none
;
}
.tab_information_modules{
width: 88%;}
#panel_inforDepor_container_aviso .item_inforDepor .tn-nt-title,#panel_inforDepor_container_ficha .item_inforDepor .tn-nt-title,#panel_inforDepor_container_calendar .item_inforDepor .tn-nt-title
	{
	margin: 0px 0px 0px 0px;
	color: #666666;
	font-weight: normal;
	width: 79%;
	display: inline-block;
}

#panel_inforDepor_container_aviso .item_inforDepor .tn-nt-title a,#panel_inforDepor_container_ficha .item_inforDepor .tn-nt-title a,#panel_inforDepor_container_calendar .item_inforDepor .tn-nt-title a
	{
	color: #333;
	font-weight: normal;
}

#panel_inforDepor_container_aviso .item_inforDepor .tn-nt-content,#panel_inforDepor_container_ficha .item_inforDepor .tn-nt-content,#panel_inforDepor_container_calendar .item_inforDepor .tn-nt-content
	{
	margin: 0px 0px 0px 135px;
	color: #444;
}

#panel_option_modulo {
	/*padding-top: 5px;*/
	/*padding-right: 5px;*/
	/*padding-bottom: 5px;*/
	/*padding-left: 5px;*/
	background-color: #FFFFFF;
	/*background-image: url(../img/png/background_option_modulo.png);*/
	background-repeat: repeat-x;
	background-position: left bottom;
	border-bottom: 2px solid #C00C2D;
}
.line_separate{
	border-right: 1px solid rgba(164, 20, 48, 0.52);
	height: 18px;
	margin-bottom: -3px;
}
#panel_option_modulo .option_container {
	
}

#panel_option_modulo .option_container .content_option {
	display: inline-block;
}

#panel_option_modulo .option_container ul.content_option li {
	display: inline-block;
	list-style-image: none;
	list-style-type: none;
	/*margin: 0px 2px*/
}

#panel_option_modulo .option_container ul.content_option li a {
	display: inline-block;
	/*padding: 5px 8px;*/
	padding: 7px 17px;
	text-decoration: none;
	color: #C00C2D;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 17px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	/*text-shadow: 1px 1px 1px white;*/
}

#panel_option_modulo .option_container ul.content_option li.active a,#panel_option_modulo .option_container ul.content_option li a:hover
	{
	background-color: #C00C2D;
	color: #FFF;
	/*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 1px 1px 1px #000;*/
}
#panel_option_modulo_news {
	background-color: #D8D9DD;
	background-repeat: repeat-x;
	background-position: left bottom;
	margin-top: 7px;
	margin-bottom: -6px;
}
#panel_option_modulo_news .option_container ul{
	background:#ECEEF0;
	height: 40px; 
}
#panel_option_modulo_news .option_container ul li{
	display: inline-block;
	list-style-image: none;
	list-style-type: none;
	margin-left: 15px;
	margin-top: 3px;

	/*display: inline-block;
	margin: 4px auto;
	padding: 4px;
	text-align: center;
	width: 100px;*/
}
#panel_option_modulo_news .option_container ul li a{
	color: #808184;
	display: inline-block;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: normal;
	padding: 7px 17px;
	line-height: normal;
	text-decoration: none;
	text-decoration: none;
}
#panel_option_modulo_news .option_container ul li a:hover,#panel_option_modulo_news .option_container ul .active{
	background:#d8d9dd;
	color:#212121;
	border-radius: 15px;
	color:#303030 ;
	text-decoration: none;
}
#panel_option_modulo_news .option_container ul .active a{
	color:#212121;
}
.optionGallery {
	overflow: hidden;
	position: absolute;
	visibility: visible;
	z-index: 5;
	height: 100%;
	width: 160px;
	top: 0px;
	right: 5px;
}

.optionGallery 	.opti {
	display: inline-block;
	height: 100%;
	width: auto;
	float: left;
	padding: 2px 5px;
}

.optionGallery .opti a {
	padding: 3px 3px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #FFF;
	display: inline-block;
}

.optionGallery .opti a.a3g4t5d {
	background-color: #F8F8F8;
	border: 1px solid #E6E6E6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #900;
	background-image: url(../img/png/a3g4t5d.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	text-shadow: 1px 1px 1px #C9C9C9
}

.previous_modulo,.next_modulo,.start_modulo,.end_modulo {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	width: 24px;
	height: 24px;
	overflow: hidden;
}
.loading_anterior{
padding: 18% 0px 0px 0px;
margin: 0px auto;
width: 100px;
text-align: center;
display: block;
vertical-align: bottom;
}
#NtAnterior{
height: 425px;
}

.pagination_modulo{
padding: 5px 0px;
color: #b80e2d;
text-align: center;
background-color: #eceef0;
}
.anterior_pagina{
display: inline-block;
padding: 0px 10px;
}

.pagination_modulo a {
display: inline-block;
}


.anterior_modulo_top{
-webkit-transform: skew(-35deg, 0deg);
-moz-transform: skew(-35deg, 0deg);
-o-transform: skew(-35deg, 0deg);
-ms-transform: skew(-35deg, 0deg);
transform: skew(-35deg, 0deg);
background-color: #b80e2d;
width: 5px;
height: 6px;
}
.anterior_modulo_bottom{
-webkit-transform: skew(35deg, 0deg);
-moz-transform: skew(35deg, 0deg);
-o-transform: skew(35deg, 0deg);
-ms-transform: skew(35deg, 0deg);
transform: skew(35deg, 0deg);
background-color: #b80e2d;
width: 5px;
height: 6px;
}

.start_modulo a,.previous_modulo a,.previous_modulo_second a,.next_modulo a,.next_modulo_second a,.end_modulo a {
	padding: 5px 8px;
	/*display: inline-block;*/
	display: none;
	text-indent: 9999px;
	width: 2px;
	height: 2px;
}

.pagina {
	display: inline-block;
	color: #CD4659;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	position: absolute;
	margin-top: 5px;
	margin-left: -6px;
}

.start_modulo {
	background-image: url(../img/png/start.png);
}

.previous_module_container, .next_modulo_container {
	position: relative;
	width: 25px;
	height: 25px;
	display: inline-block;
}
.next_modulo_container {
	margin-left: 180px;
}
.previous_modulo {
	/*background-image: url(../img/png/previous.png);*/
z-index: 200;
position: absolute;
right: 15px;
top: 5px;
background: #CD4659;
display: inline-block;
width: 5px;
height: 8px;
cursor: pointer;
-webkit-transform: skew(-35deg, 0deg);
-moz-transform: skew(-35deg, 0deg);
-o-transform: skew(-35deg, 0deg);
-ms-transform: skew(-35deg, 0deg);
transform: skew(-35deg, 0deg);
}
/*.previous_modulo:after{*/
.previous_modulo_second{
z-index: 200;
position: absolute;
right: 15px;
top: 13px;
background: #CD4659;
display: inline-block;
width: 5px;
height: 8px;
cursor: pointer;
-webkit-transform: skew(-145deg, 0deg);
-moz-transform: skew(-145deg, 0deg);
-o-transform: skew(-145deg, 0deg);
-ms-transform: skew(-145deg, 0deg);
transform: skew(-145deg, 0deg);
}
.next_modulo {
	/*background-image: url(../img/png/next.png);*/
z-index: 200;
position: absolute;
right: 143px;
top: 5px;
background: #CD4659;
display: inline-block;
width: 5.6px;
height: 8px;
cursor: pointer;
-webkit-transform: skew(-141deg, 0deg);
-moz-transform: skew(-141deg, 0deg);
-o-transform: skew(-141deg, 0deg);
-ms-transform: skew(-141deg, 0dg);
transform: skew(-141deg, 0deg);
}
.next_modulo_second{
z-index: 200;
position: absolute;
right: 143px;
top: 13px;
background: #CD4659;
display: inline-block;
width: 5px;
height: 8px;
cursor: pointer;
-webkit-transform: skew(-210deg, 0deg);
-moz-transform: skew(-210deg, 0deg);
-o-transform: skew(-210deg, 0deg);
-ms-transform: skew(-210deg, 0dg);
transform: skew(-210deg, 0deg);
}
.arrow_information_first{
	margin-left: 163px;
	margin-bottom: -12px;
	width: 0px;
	height: 12px;
	z-index: 1;
}
.arrow_information_second{
	margin-left: 145px;
	z-index: 1;
}

.line_vertical_informative{
	border-left: 1px solid #DFDFDF;
	height: 335px;
	margin-left: 325px;
	position: absolute;
	margin-top: 7px;
}

.end_modulo {
	background-image: url(../img/png/end.png);
}

.panel_modulo_container_footer {
	color: #6CF;
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 20px;
	width: 100%;
	z-index: 11;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E3E3E3;
	text-align: right
}

.panel_modulo_container_footer a {
	color: #999;
	padding: 2px 5px;
	display: inline-block
}

.panel_modulo_container_footer a:hover {
	color: #333
}
 .contenido_contact,.panel_item_footer{
 	display: inline-block;
 	width: 600px;
 }
.panel_item_footer {
	padding: 5px;
	width: 390px;
	margin: 2px auto 0 auto;
	color: #FFF;
	text-align: center;
}

.panel_item_footer .by {
	color: #6CF
}
.style_information_center{
vertical-align: top;}