@charset "utf-8"; 

#_deporte_interior {
	min-height: 300px;
	padding: 0px 0px;
	background-color: #FFF
}

#_deporte_interior .close_popup {
	background-image: url(../img/png/dialog-close.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	height: 32px;
	width: 32px;
	position: absolute;
	top: 0px;
	right: 5px;
	cursor: pointer;
}

#_deporte_interior .cl {
	background: none;
	position: relative;
}

#_deporte_interior .body-content {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666;
	text-decoration: none;
	margin-top: 5px;
	text-align: justify;
	_margin-right: 15px;
	margin-bottom: 5px;
	_margin-left: 15px;
}

#_deporte_interior .body-content .Requerido {
	color: #F00
}

#_deporte_interior .body-content .CajaTexto {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #FBFBFB;
	border: 1px solid #E0E0E0;
	padding: 3px 5px;
	color: #666;
	font-size: 12px;
}

.noti-inte-contenido {
	overflow: scroll;
	height: 530px
}

#_deporte_interior .background_titulo {
	font-family: 'Cuprum', sans-serif;
	padding: 4px;
	font-size: 22px;
	font-weight: bold;
	background-image: url(../img/png/overlay-button.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	color: #FFF;
	position: relative;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
}
#_deporte_interior .green-in {
    
}
}

#_deporte_interior .magenta-out {
	background-color: #066;
	border: 1px solid #088;
}

#_deporte_interior .black-out {
	background-color: #393;
    border: 1px solid #063;
	
}

#_deporte_interior .green-out {
	background-color: #393;
	border: 1px solid #063;
}

#_deporte_interior .red-out {
	background-color: #900;
	border: 1px solid #C10000;
}

#_deporte_interior .blue-out {
	background-color: #1A4882;
	border: 1px solid #204F7D;
}

#_deporte_interior .orange-out {
	background-color: #496D6D;
	border: 1px solid #446464;
}

#_deporte_interior .orangellow-out {
	background-color: #A87E00;
	border: 1px solid #AE8300;
}

#_deporte_interior .body-content strong {
	color: #007124;
	padding: 0px 3px
}

#_deporte_interior .body-content a {
	color: #069
}

#_deporte_interior .body-content h1,#_deporte_interior .body-content h2,#_deporte_interior .body-content h3,#_deporte_interior .body-content h4
	{
	color: #666;
	background-color: #f8f8f8;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #E9E9E9;
	border-bottom-color: #DBDBDB;
	text-align: center;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

#_deporte_interior .body-content ul {
	margin: auto;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	list-style-position: outside;
	list-style-type: disc;
	color: #363
}

#_deporte_interior .body-content li {
	color: #666;
	padding: 2px auto;
}

#_deporte_interior .body-content p {
	display: block;
	margin: 0.5em 0px;
	text-indent: 15px;
}

.loading {
	margin: 70px auto;
	width: 100px
}

.container_popup {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 300;
}

.con__ {
	width: 980px;
	margin: auto;
	position: relative;
}

.back_popup {
	background-color: rgba(0, 0, 0, .3);
	_background-color: rgba(252, 252, 252, .75);
	z-index: 400;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.panel_popup_cont {
	z-index: 500;
	position: fixed;
	left: 3% px;
	top: 0px;
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
}

.panel_popup {
	border-radius: 10px;
	width: 980px;
	margin: auto;
	background-color: rgba(0, 0, 0, .55);
	_background-color: #FFF;
	padding: 5px;
	_padding: 20px 10px;
	_border: 1px solid #E9E9E9;
	max-height: 680px;
}

.anex_popup {
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D7D7D7;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	background-color: #f8f8f8;
	text-align: left;
}

.anex_popup a {
	font-size: 12px;
	text-decoration: none;
	margin: 0px;
	padding: 3px;
	text-indent: 0px;
	color: #099;
}

.cont_anex {
	overflow: auto;
	height: 450px
}