@charset "utf-8"; 

#_deporte_interior {
	min-height: 552px;
	padding: 0px 0px;
	background: #fff;
	box-shadow: 0 0 15px -2px #333;
}


#_deporte_interior .close_popup {
	background-image: url(../img/png/dialog-close.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	padding: 0px;
	height: 32px;
	width: 32px;
	position: absolute;
	top: 13px;
	right: 20px;
	cursor: pointer;
}

#_deporte_interior .cl {
	background: none;
	position: relative;
}

#_deporte_interior .body-content {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666;
	text-decoration: none;
	text-align: justify;
	_margin-right: 15px;
	margin-bottom: 5px;
	_margin-left: 15px;
}

#_deporte_interior .body-content .Requerido {
	color: #F00
}

#_deporte_interior .body-content .CajaTexto {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #FBFBFB;
	border: 1px solid #E0E0E0;
	padding: 3px 5px;
	color: #666;
	font-size: 12px;
}

.noti-inte-contenido {
	overflow: scroll;
	height: 530px
}

.background_titulo {
	font-family: 'Cuprum', sans-serif;
	height: 60px;
	line-height: 60px;
	padding-left: 20px;
	font-size: 22px;
	font-weight: bold;
	overflow: hidden;
	color: #FFF;
	position: relative;
}

#_deporte_interior .green-in {
	
}

#_deporte_interior .magenta-out {
	background-color: #066;
	border: 1px solid #088;
}

 .black-out {
	background-color: #C00C2D;
}

#_deporte_interior .green-out {
	background-color: #393;
	border: 1px solid #063;
}

#_deporte_interior .red-out {
	background-color: #900;
	border: 1px solid #C10000;
}

#_deporte_interior .blue-out {
	background-color: #1A4882;
	border: 1px solid #204F7D;
}

#_deporte_interior .orange-out {
	background-color: #496D6D;
	border: 1px solid #446464;
}

#_deporte_interior .orangellow-out {
	background-color: #A87E00;
	border: 1px solid #AE8300;
}

#_deporte_interior .body-content strong {
	color: #007124;
	padding: 0px 3px
}

#_deporte_interior .body-content a {
	color: #069
}

#_deporte_interior .body-content h1,#_deporte_interior .body-content h2,#_deporte_interior .body-content h3,#_deporte_interior .body-content h4
	{
	color: #666;
	background-color: #f8f8f8;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #E9E9E9;
	border-bottom-color: #DBDBDB;
	text-align: center;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

#_deporte_interior .body-content ul {
	margin: auto;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	list-style-position: outside;
	list-style-type: disc;
	color: #363
}

#_deporte_interior .body-content li {
	color: #666;
	padding: 2px auto;
}

#_deporte_interior .body-content p {
	display: block;
	margin: 0.5em 0px;
	text-indent: 15px;
}

.loading {
	margin: 70px auto;
	width: 100px
}

.container_popup {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 300;
	background-color: rgba(0, 0, 0, .3);
}

.con__ {
	width: 1000px;
	margin: auto;
	position: relative;
}

.back_popup {
	display: none;
	background-color: rgba(0, 0, 0, .3);
	_background-color: rgba(252, 252, 252, .75);
	z-index: 400;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.panel_popup_cont {
	z-index: 500;
	border-radius: 10px;
}

.panel_popup {
	border-radius: 10px;
	width: 1000px;
	margin: auto;
	background-color: rgba(0, 0, 0, .55);
	_background-color: #FFF;
	padding: 5px;
	_padding: 20px 10px;
	_border: 1px solid #E9E9E9;
	max-height: 680px;
}

.anex_popup {
	padding: 11px;
	text-align: left;
	background: #fff;
	border: 1px solid #C7C6CA;
	margin-bottom: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.anex_popup a {
	font-size: 12px;
	text-decoration: none;
	margin: 0px;
	padding: 3px;
	text-indent: 0px;
	color: #099;
}

.cont_anex {
	overflow: auto;
	height: 450px
}

.content-interior-popup{
	width: 700px;
	vertical-align: top;
	position: relative;
	color: #333;
}

.related-popup{
	width: 300px;
	vertical-align: top;
	position: relative;
	color: #2C3E50;
}

.header-popup{
	width: 100%;
	min-height: 60px;
	text-align: center;
	padding-top: 20px;
	font-size: 1.4em;
	font-weight: bold;
	color: #2C3E50;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.header-popup.left{
	box-shadow: -5px -2px 10px #999;
	border-right: 1px solid #ddd;
	word-wrap: inherit;
}

.header-popup.right{
	box-shadow: 5px -2px 10px #999;
}

.content-popup{
	width: 100%;
	height: 640px;
	background: #fff;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	overflow: auto;
}

.related-popup .content-popup{
	background: #ECF0F1;
}

.img-gallery{
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.date-popup{
	margin-top: 10px;
	margin-left: 10px;
}

.date-popup .icon{
	background: #2C3E50;
	width: 25px;
	height: 25px;
	position: relative;
	border: 1px solid #2C3E50;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.date-popup .content-date{
	width: 250px;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	border: 1px solid #2C3E50;
	color: #2C3E50;
	font-weight: bold;
	font-size: 13px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.content-notice{
	padding: 10px;
	font-size: 15px;
}
/*---------------------------------------
		ESTILOS DE FORMULARIOS
-----------------------------------------*/
.colum_form{
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}
.colum_radio{
	height: 40px;
	line-height: 40px;
}
.btn{
	font-weight: bold;
	cursor: pointer;
	height: 35px;
	font-size: 14px;
	border-radius: 5px;
	background: #EEEFF3;
	border: 0;
	box-shadow: 0px 4px 0px #BDC1CA;
	color: #757575;
}
.btn_next,
.btn_prev{
	width: 100px;
}
.btn_next{
	width: 100px;
	background: #ffc33e;
	box-shadow: 0px 4px 0px #b36929;
	color: #b36929;
	
}
.btn_submit{
	width: 100px;
	background: #3497DA;
	box-shadow: 0px 4px 0px #277BB5;
	color: #fff;
}
.btn_cancel{
	width: 100px;
	background: #E94C3D;
	box-shadow: 0px 4px 0px #C0361E;
	color: #fff;
}
label{
	color: #666;
}
.input[type="text"], select{
	height: 35px;
	margin-bottom: 10px;
	margin-top: 2px;
	padding: 0 15px 2px;
	font-size: 16px;
	background: white;
	border: 2px solid #ddd;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 -2px #ddd;
	box-shadow: inset 0 -2px #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.input[type="text"]:focus, select:focus{
	border-color: #3497DA;
	outline: none;
	-webkit-box-shadow: inset 0 -2px #3497DA;
	box-shadow: inset 0 -2px #3497DA;
}
.input[type="text"].require:focus, select.required:focus{
	border-color: #E94C3D;
	outline: none;
	-webkit-box-shadow: inset 0 -2px #E94C3D;
	box-shadow: inset 0 -2px #E94C3D;
}
.input[type="radio"]{
	width: 10%;
}
.input.input_small{
	width: 25%;
}
.input.input_medium{
	width: 60%;
}
.input.input_long{
	width: 80%;
}
.input_require{
	width: 10px;
	display: inline;
	color: #E94C3D;
	font-weight: bold;
	font-size: 18px;
}
/*-------------------------
		INSCRICION
---------------------------*/
#view_inscription{ 
	font-family: verdana,"helvetica",arial,sans-serif;
	font-size: 16px;
}
#view_inscription .content_sec_inscription{
	padding: 10px;
}
#view_inscription .content_sec_inscription p{
	text-indent: 0px;
	text-align: justify;
}
#view_inscription .content_sec_inscription p.sec_buttons{
	text-align: right;
}
#view_inscription .content_sec_inscription div.sec_form {
	display: inline-block;
	vertical-align: top;
	width: 60%;
}
#view_inscription .content_sec_inscription div.sec_image{
	text-align: center;
	width: 40%;
}
#view_inscription .mod_inscription {
	display: none;
}
#view_inscription .mod_inscription.active{
	display: block;
}
#view_inscription .title_sec_inscription{
	border-bottom: 2px solid #C00C2D;
	color: #C00C2D;
	font-size: 20px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
	margin: .3em 0;
	padding: .3em .8em;
}

#view_inscription .base_icon{
	margin-left: 300px;
	width: 50px;
	height: 80px;
	background: url(../img/png/files_icon.png);
	background-position: 0px -95px;
}

.base_item{
	margin-left: 10px; 
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
}
#img-spotman, #img-voucher{
	width: 170px;
	height: 190px;
}
.lb_fede{
	font-size: 20px;
}
.icon_tenis{
	margin-top: 15px;
}