
body {
    margin: 0px;
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background-image: url("http://somosteamperu.pe/imagenes/back/");
    background-color: #FFF;
}
#bd_tenis {
    width: 100%;
    color: #FFF;
    box-shadow: 0px 0px 15px -2px #333;
    position: relative;
}

.front{
    height: 435px;

}

#panel_front_container {
    height: 435px;
    width: auto;
    position: relative;
    overflow: hidden;
}
#panel_front_container .item_front .tn-image {
    margin: 0px;
    display: inline-block;
    width: 100%;
    height: 420px;
}

#panel_front_container .item_front .tn-caption {
    padding: 10px;
    position: absolute;
    overflow: visible;
    z-index: 10;
    height: 55px;
    bottom: 0px;
    width: 535px;
    border-radius: 10px;
    box-sizing: border-box;
    background: transparent linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.49) 33%, rgba(0, 0, 0, 0.75) 53%, rgba(0, 0, 0, 0.75) 100%) repeat-y scroll left bottom;
}
#panel_front_container .item_front .tn-title {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #FFF;
}
#panel_front_container .item_front .tn-nt-content {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #939393;
}
.tn-nt-content {
    color: #6C6C6C;
    font-size: 16px;
    text-align: justify;
}


#panel_front_container .slides_container_dos .item_front .tn-caption {
    padding: 10px;
    position: absolute;
    overflow: visible;
    z-index: 10;
    height: 55px;
    bottom: 0px;
    width: 100px;
    border-radius: 10px;
    box-sizing: border-box;
    background: transparent linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.49) 33%, rgba(0, 0, 0, 0.75) 53%, rgba(0, 0, 0, 0.75) 100%) repeat-y scroll left bottom;
}

a.uopa1ufg5p {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    margin: 0px;
    padding: 0px;

}

.thin-sep {
    height: 0px;
    width: 100%;
    margin: 1% auto;
    position: relative;
    display: inline-block;
}
.linea-top {
    height: 4px;
    background-image: url("http://somosteamperu.pe/images/linea_top.jpg");
    background-repeat: repeat-x;
    width: 100%;
    margin: 0px;
    position: relative;
    display: inline-block;
}

.linea-sep1 {
    height: 0px;
    width: 100%;
    margin: 0.5% auto;
    position: relative;
    display: inline-block;
}

#informacion{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}


#panel_option_modulo .option_container_s .content_option {
    display: inline-block;
}
ul, ol {
    margin: 0px;
    padding: 0px;
}

#panel_option_modulo .option_container_s ul.content_option li {
    display: inline-block;
    list-style-image: none;
    list-style-type: none;
}

#panel_option_modulo .option_container_s .content_option li a {
    background: #C00C2D;
    border-right: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    display: block;
    float: left;
    font: 400 13px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    


    /*TRANSISTIONS*/
    -webkit-transition: background 0.5s ease;
       -moz-transition: background 0.5s ease;
         -o-transition: background 0.5s ease;
        -ms-transition: background 0.5s ease;
            transition: background 0.5s ease;
}


.tab_containerSI{
    border:2px solid #C00C2D;
    border-radius: 5px;
    

}
#panel_inforDepor_container_aviso .item_inforDepor .tn-nt-title a, #panel_inforDepor_container_ficha .item_inforDepor .tn-nt-title a, #panel_inforDepor_container_calendar .item_inforDepor .tn-nt-title a {
    color: #333;
    font-weight: normal;
   
}

.pagination_modulo {
    padding: 5px 0px;
    color: #B80E2D;
    margin:1px;
    text-align: center;
    background-color: #ECEEF0;
    border-radius: 5px;
}
.pagination_modulo a {
    display: inline-block;
}
.anterior_modulo_top {
    transform: skew(-35deg, 0deg);
    background-color: #B80E2D;
    width: 5px;
    height: 6px;
}
.anterior_modulo_bottom {
    transform: skew(35deg, 0deg);
    background-color: #B80E2D;
    width: 5px;
    height: 6px;
}
.anterior_pagina {
    display: inline-block;
    padding: 0px 10px;
}

.tn-titulo-container {
    
    
}

.title_section {
    background: #C00C2D none repeat scroll 0% 0%;
border-right: 1px solid #FFF;
color: #FFF;
display: block;
float: left;
font: 400 13px/1.4 "Cutive",Helvetica,Verdana,Arial,sans-serif;
font-weight: bold;
border-radius: 5px;
padding: 10px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
width: 100%;
height: 40px;
transition: background 0.5s ease 0s;
}
 
.nofound {
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: #FFE6E6;
    color: #FF0F4B;
    border-radius: 3px;
    padding: 10px 0px;
    margin-top: 55px;
}


#newnoticia{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}


.headline-section {
    color: #C00C2D;
    font-family: "proxima-nova",sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    font-size: 25px;
    line-height: 32px;
    z-index: 1
}
.headline-section span {
    background: #fff;
}
.headline-section span {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 24px;
}
.headline-section span:before, .headline-section span:after {
    border-top: 6px solid #cfcfcf;
}
.headline-section span:before, .headline-section span:after {
    display: block;
    height: 1px;
    content: " ";
    width: 100%;
    position: absolute;
    left: 0;
    top: 14px;
    z-index: -1;
}

strong.theme-secondary {
    font-weight: inherit;
    overflow: initial;
    display: inline;
}

.option_container .content_option {
    margin: 20px auto;
    padding: 0;
    display: table;
    
}

.option_container .content_option li {
    list-style: none;
    margin: 0;
    display: inline-block;
    height: 16px;
    padding: 0 8px;
    border-left: 1px solid #cfcfcf;
    cursor: pointer;
}


.option_container .content_option li a {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none; 
    color: black;  
}

.option_container .content_option li a:hover{
    color:#C00C2D;
}
   


#panel_notice_container_ultimo .item_notice .tn-nt-image, #panel_notice_container_destacado .item_notice .tn-nt-image, #panel_notice_container_anterior .item_notice .tn-nt-image {
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
    margin-right: 60px;

}

.tn-nt-title a {
    color: #000;
    font-size: 12px;
    letter-spacing: 0.3px;
    word-spacing: 2px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
#panel_front_container .item_front .tn-title a {
    color: #FFF;
}

#panel_gallery_container, #panel_video_container {
    height: 230px;
    width: auto;
    position: relative;
    padding: 5px;
    overflow: hidden;
}

#panel_gallery_container .tab_image_container, #panel_video_container .tab_video_container {
    width: 300px;
    height: 100%;
    
}
.display_inline {
    display: inline-block;
    vertical-align: middle;
}
.a_link {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}
.all_img {
    width: 100%;
    height: 100%;
}
.img_noborder {
    border-radius: 0px;
  
}
.img_noborder1 {
    border-radius: 0px;
    
}
#panel_video_container .tab_video_related {
    width: 100%;
    height: 100%;
    position: relative;
}


#panel_gallery_container .tab_image_related, #panel_video_container .tab_video_related {
    width: 108px;
    margin-left: 10px;
    position: relative;
}


h3 {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #C00C2D;
    text-decoration: none;
    margin-bottom: 0px;
}


#footer a {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
}
#footer p {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFF;
    text-decoration: none;
}

#footer .menu_pie_tit {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    border-bottom: thin solid #FFA409;
    padding-bottom: 10px;
    width: 100%;
    display: block;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}
#footer .menu_pie {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    font-size: 12px;
    text-decoration: none;
}


/* VENTANA POPUP */


#panel_gallery_container .item_galeria .tn-image, #panel_video_container .item_video .tn-video {
    margin: 0px 6px 6px 0px;
    width: 380px;
}
  
#panel_gallery_container .item_galeria .tn-image a, #panel_video_container .item_video .tn-video a {
    overflow: hidden;
    position: relative;
}
#panel_gallery_container .tab_image_related .GIprev, #panel_video_container .tab_video_related .GVprev {
    position: absolute;
    left: 3px;
    top: 80px;
}
#panel_gallery_container .tab_image_related .GInext, #panel_video_container .tab_video_related .GVnext {
    position: absolute;
    top: 80px;
    right: 3px;
}


/*pruebaaaa numerounooo */
.titulo_interior {
    background-color: #C00C2D;
       
    margin-left: 20px;
    margin-right: 20px;
 
}
.titulo{
    font-family: 'Cuprum', sans-serif;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 22px;
    font-weight: bold;
    overflow: hidden;
    color: #FFF;
    position: relative;
}

.content-interior-popup {

    vertical-align: top;
    position: relative;
    color: #333;
}

h1 {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 400;
     font-size: 1.4em;
    line-height: 30px;
    text-decoration: none;
    margin: 0px;
    display: inline-block;
    font-weight: bold;
    color: #2C3E50;
    text-align: center;
}

.header-popup.left {
    box-shadow: -5px -2px 10px #999;
    border-right: 1px solid #DDD;
    word-wrap: inherit;
}

.content-popup {
    width: 100%;
    height: 100%;
    background: #FFF none repeat scroll 0% 0%;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}

.date-popup {
    margin-top: 10px;
    margin-left: 10px;
}


.date-popup .icon {
    background: #2C3E50 none repeat scroll 0% 0%;
    width: 25px;
    height: 25px;
    position: relative;
    border: 1px solid #2C3E50;
    box-sizing: border-box;
}
.icon-date {
    background: transparent url("../img/png/calendar2.png") no-repeat scroll 0% 0%;
    width: 15px;
    height: 17px;
    position: absolute;
    left: 5px;
    top: 3px;
}
.date-popup .content-date {
    width: 200px;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    border: 1px solid #2C3E50;
    color: #2C3E50;
    font-weight: bold;
    font-size: 13px;
    box-sizing: border-box;
}
.content-notice {
    padding: 10px;
    font-size: 15px;
}



.content-notice p {
    display: block;
    margin: 0.5em 0px;
    text-indent: 15px;
}
.content-notice strong {
    color: #007124;
    padding: 0px 3px;
}

img.scaleimg {
    width: 100%;
    height: auto;
}

.header-popup.right {
    box-shadow: 5px -2px 10px #999;
}
.header-popup {
    width: 100%;
    min-height: 60px;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #2C3E50;
    position: relative;
    box-sizing: border-box;
}

.related-popup {
    
    position: relative;
    vertical-align: top;
    color: #2C3E50;
}
.related-popup .content-popup {
    background: #ECF0F1 none repeat scroll 0% 0%;
}
.anex_popup {
    padding: 11px;
    text-align: left;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #C7C6CA;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.anex_popup a {
    font-size: 12px;
    text-decoration: none;
    margin: 0px;
    padding: 3px;
    text-indent: 0px;
    color: #069;
}

.img-gallery {
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.anex_popup1 {
    text-align: left;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #C7C6CA;
    margin-bottom: 8px;
    box-sizing: border-box;
    padding: 10px;
}


#logo {
    padding-top: 0;
    position: absolute;
    top: 0;
    margin-left:0;
    margin-top:0;
    z-index:99999999;
}
#header {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #FFFFFF;
    position:relative;
    width:100%;
    font-size:14px;
    height:auto;
    background-position: top;
    margin: 0;
    text-decoration:none;


}

#header .logo{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size:40px;
    color:#474747;
}


#banner{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}










#alinear_d {
    width: 100%;
    height: auto;
    margin:0 auto 0 auto;
    text-align:right;	
}

#alinear_i {
    width: 100%;
    height: auto;
    margin:0 0;
    text-align:left;
}

#alinear {
    width: 100%;
    height: auto;
    margin:0 auto;
    text-align:center;


}
@media only screen and ( max-width: 767px ){

    #alinear_d,  #alinear_i {
        width: 100%;
        height: auto;
        margin:10px 10px;
        text-align:center;

    }

    h1, h2, h3, h4, h5,h6 {
        font-size:20px;
        line-height:20px;
    }


    #categoria a {
        font-size:20px;
        line-height:36px;
    }


    #categoria p {
        font-size:20px;
        line-height:36px;
    }

}

/*@media only screen and (max-width: 1280px) {
  #nav a {
    width: 5%; }
  #nav ul {
    width: 79%;
     } 
}
@media only screen and (min-width: 1280px) {
  #nav a {
    width: 14%; }
}*/

