@charset "utf-8"; 

#menu {
	height: 50px;
	background-image: url(../img/menu/left.png);
	background-repeat: no-repeat;
	background-position: left top;
}

ul.topnav {
	list-style: none;
	margin: 0;
	float: left;
	width: 975px;
	padding-top: 8px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin-left: 5px;
	background-image: url(../img/menu/right.png);
	background-repeat: no-repeat;
	background-position: right top;
}

ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 5px 0 0;
	position: relative;
	z-index: 10;
	overflow: visible;
	visibility: visible;
}

ul.topnav li a {
	padding: 10px 6px;
	display: block;
	text-decoration: none;
	float: left;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #016947;
	text-shadow: 1px 1px 1px #fff;
}

ul.topnav li span.sep {
	width: 1px;
	height: 41px;
	float: left;
	background-color: rgb(158, 0, 0);
	/*background-image: url(../img/menu/sep.png);
	background-repeat: no-repeat;
	background-position: left center;*/
}

ul.topnav li span.subhover {
	background-position: center bottom;
	cursor: pointer;
	background-color: #333;
}

ul.topnav li a.hover {
	background-color: #015A3E;
	color: #FFF;
	text-shadow: 1px 1px 1px #002000;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
}

ul.topnav li ul.subnav {
	list-style: none;
	position: absolute;
	left: 0;
	top: 35px;
	margin: 0px 0px 0px 5px;
	padding: 0;
	display: none;
	float: left;
	width: 170px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border: 1px solid #013D29;
	z-index: 20;
	background-color: #015A3E;
	overflow: visible;
	visibility: visible;
}

ul.topnav li ul.subnav li {
	margin: 0;
	padding: 0;
	border-top: 1px solid #017852;
	border-bottom: 1px solid #014932;
	width: 170px;
	overflow: visible;
	visibility: visible;
	z-index: 100000;
}

ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	padding-left: 20px;
	background-color: #015A3E;
	background-image: url(../recursos/dropdowm.gif);
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #FFF;
	font-size: 13px;
	text-shadow: 1px 1px 1px #002000;
}

ul.topnav li ul.subnav li a:hover {
	background: #222 url(../recursos/dropdowm.gif) no-repeat 10px center;
	color: #7CE0B0;
}

#header img {
	margin: 20px 0 10px;
}