/* Table of Contents
==================================================
    #Base 960 Grid    
    #Tablet (Portrait)
    #Mobile (Portrait) 
    #Mobile (Landscape)
    #Clearing */
 
 .nopadding { padding: 0 !important; margin: 0 !important; }
 .padding { padding: 10px !important; margin: 0 !important; }
  .padding_left { padding-left:30px !important; margin: 0 !important; }

    
 .full-width {width:960px; height:auto; overflow:hidden}
  #teaser.normal {width: 960px;}
 
.one_half { width: 50%; text-align: justify;}
.informacion_f{width: 70%;}
.ranking_f{width: 30%;}
.tab_container{width: 100%;}
.item_notice  {width: 33.333%; }
.one_third { width: 40%; } 
.two_thirds { width: 60%; }
.one_fourth { width: 25%; }
.three_fourths { width: 75%; } 
.one_fifth { width: 24%; }
.two_fifth { width: 27%; } 
.three_fifth { width: 100%;} 
.content_1{width: 90%;}
.four_fifth { width: 80%; }
.one_sixth { width: 16.66%; } 
.five_sixth { width: 70%; }
.pimentel-container{ width: 100%;}
.test{width: 15%; }
.imgarrow{ width: 8%;}
.carousel-demo{ width: 75%; }
 
.one_half,
.one_third,
.two_thirds,
.informacion_f,
.tab_container,
.item_notice,
.ranking_f,
.content_1,

.three_fourths,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth, 
.imgarrow,
.carousel-demo,
.test{
  position: relative;
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 20px;
	float: left;
}
 
.last {margin-right:0 !important;}
 
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
  
}
 
.span1,
.one.column,
.one.columns {
  width: 80px;
}
 
.two.columns {
  width: 120px;
}
 
.three.columns {
  width: 152px;
}
 
.four.columns {
  width: 200px;
}
 
.five.columns {
  width: 280px;
}
.six.columns {
  width: 320px;
}
 
.seven.columns {
  width: 380px;
}
 
.eight.columns {
  width: 440px;
}
 
.nine.columns {
  width: 500px;
}
 
.ten.columns {
  width: 560px;
}

.eleven.columns {
  width: 600px;
}
 
.twelve.columns {
  width: 680px;
}
 
.thirteen.columns {
  width: 728px;
}
 
.fourteen.columns {
  width: 760px;
}
 
.fifteen.columns {
  width: 800px;
}
 
.sixteen.columns {
  width: 920px;
}
 
.one-third.column {
  width: 50px;
}
 
.two-thirds.column {
  width: 166px;
}
 
.one-third.column.alpha,
.one-third.column.omega {
  width: 40px;
}
 
.two-thirds.column.alpha,
.two-thirds.column.omega {
  width: 180px;
}
 
.column, .columns {
  float: left;
  display: inline;	margin-left: 20px;
  margin-right:20px;
	margin-bottom: 0;
}
.column.alpha, .columns.alpha {
    margin-left: 10px;
}
.column.omega, .columns.omega {
    margin-right: 10px;
}
 

 
@media only screen and (min-width: 1600px) {

 .full-width {width:1200px; height:auto; overflow:hidden}
  #teaser.normal {width: 1200px;}
 
.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
 
  .span1,
  .one.column,
  .one.columns {
    width: 110px;
  }
 
  .two.columns {
    width: 160px;
	
  }
 
  .three.columns {
    width: 200px;
  }
 
  .four.columns {
    width: 260px;
  }
 
  .five.columns {
    width: 360px;
  }
 
  .six.columns {
    width: 410px;
  }
 
  .seven.columns {
    width: 480px;
  }
 
  .eight.columns {
    width: 560px;
  }
 
  .nine.columns {
    width: 640px;
  }
 
  .ten.columns {
    width: 710px;
  }
 
  .eleven.columns {
    width: 760px;
  }
 
  .twelve.columns {
    width: 840px;
  }
 
  .thirteen.columns {
    width: 920px;
  }
 
  .fourteen.columns {
    width: 960px;
  }
 
  .fifteen.columns {
    width: 1010px;
  }
 
  .sixteen.columns {
    width: 1160px;
  }
 
  .one-third.column {
    width: 50px;
  }
 
  .two-thirds.column {
    width: 215px;
  }
 
  .one-third.column.alpha,
  .one-third.column.omega {
    width: 90px;
  }
 
  .two-thirds.column.alpha,
  .two-thirds.column.omega {
    width: 230px;
  }
 
  .column, .columns {
    float: left;
    display: inline;	margin-left: 20px;
  margin-right:20px;
	margin-bottom: 0;
  }
  .column.alpha, .columns.alpha {
    margin-left: 10px;
  }
  .column.omega, .columns.omega {
    margin-right: 10px;
  }

}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
	
  .full-width {width:1200px; height:auto; overflow:hidden}
  #teaser.normal {width: 1200px;}
 
 
  .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
 
  .span1,
  .one.column,
  .one.columns {
    width: 110px;
  }
 
  .two.columns {
    width: 160px;
  }
 
  .three.columns {
    width: 200px;
  }
 
  .four.columns {
    width: 260px;
  }
 
  .five.columns {
    width: 360px;
  }
 
  .six.columns {
    width: 410px;
  }
 
  .seven.columns {
    width: 480px;
  }
 
  .eight.columns {
    width: 560px;
  }
 
  .nine.columns {
    width: 640px;
  }
 
  .ten.columns {
    width: 710px;
  }
 
  .eleven.columns {
    width: 760px;
  }
 
  .twelve.columns {
    width: 840px;
  }
 
  .thirteen.columns {
    width: 920px;
  }
 
  .fourteen.columns {
    width: 960px;
  }
 
  .fifteen.columns {
    width: 1010px;
  }
 
  .sixteen.columns {
    width: 1160px;
  }
 
  .one-third.column {
    width: 50px;
  }
 
  .two-thirds.column {
    width: 215px;
  }
 
  .one-third.column.alpha,
  .one-third.column.omega {
    width: 90px;
  }
 
  .two-thirds.column.alpha,
  .two-thirds.column.omega {
    width: 230px;
  }
 
  .column, .columns {
    float: left;
    display: inline;	margin-left: 20px;
  margin-right:20px;
	margin-bottom: 0;
  }
  .column.alpha, .columns.alpha {
    margin-left: 10px;
  }
  .column.omega, .columns.omega {
    margin-right: 10px;
  }
 
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    position: relative;
    width: 768px;
    margin: 0 auto;
    padding: 0;
	
  }
.tab_video_container {
    width: 200px;
    height: 100%;
}
 .tab_video_related {
    width: 98px;
    margin-left: 10px;
    position: relative;
}
 
  .span1,
  .one.column,
  .one.columns {
    width: 56px;
  }
 
  .two.columns {
    width: 88px;
  }
 
  .three.columns {
    width: 113.6px;
  }
 
  .four.columns {
    width: 152px;
  }
 
  .five.columns {
    width: 216px;
  }
 
  .six.columns {
    width: 248px;
  }
 
  .seven.columns {
    width: 296px;
  }
 
  .eight.columns {
    width: 344px;
  }
 
  .nine.columns {
    width: 392px;
  }
 
  .ten.columns {
    width: 440px;
  }
 
  .eleven.columns {
    width: 472px;
  }
 
  .twelve.columns {
    width: 536px;
  }
 
  .thirteen.columns {
    width: 574.40px;
  }
 
  .fourteen.columns {
    width: 600px;
  }
 
  .fifteen.columns {
    width: 632px;
  }
 
  .sixteen.columns {
    width: 728px;
  }
 
  .one-third.column {
    width: 50px;
  }
 
  .two-thirds.column {
    width: 128px;
  }
 
  .one-third.column.alpha,
  .one-third.column.omega {
    width: 90px;
  }
 
  .two-thirds.column.alpha,
  .two-thirds.column.omega {
    width: 140px;
  }
 
  .column, .columns {
    float: left;
    display: inline;	margin-left: 20px;
  margin-right:20px;
	margin-bottom: 0;
  }
  .column.alpha, .columns.alpha {
    margin-left: 10px;
  }
  .column.omega, .columns.omega {
    margin-right: 10px;
  }
 
 
}
@media only screen and (max-width: 767px) {
  .container {
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 0;
  }
 
  .one.column,
  .one.columns, .span1,
  .two.columns, .span2,
  .three.columns, .span3,
  .four.columns, .span4,
  .five.columns, .span5,
  .six.columns, .span6,
  .seven.columns, .span7,
  .eight.columns, .span8,
  .nine.columns, .span9,
  .ten.columns, .span10,
  .eleven.columns, .span11,
  .twelve.columns, .span12,
  .thirteen.columns, .span13,
  .fourteen.columns, .span14,
  .fifteen.columns, .span15,
  .sixteen.columns, .span16,
  .one-third.column,
  .two-thirds.column,
  .col,
  .one-third.column.alpha,
  .one-third.column.omega,
  .two-thirds.column.alpha,
  .two-thirds.column.omega {
    width: 260px;
	margin-bottom:5px;
  }
 
  .one_half,
  .one_third,
  .two_thirds,
  .informacion_f,
.ranking_f,
.content_1,
.content_2,
.tab_container,
.item_notice,
  .three_fourths,
  .one_fourth,
  .one_fifth,
  .two_fifth,
  .three_fifth,
  .four_fifth,
  .one_sixth,
  .five_sixth,
  .imgarrow,
  .carousel-demo,
  .test {
    width: 100% !important;
  }
 
  .column, .columns {
    float: left;
    display: inline;
	margin-left: 20px;
 	margin-right:20px;
	margin-bottom: 0;
  }
  .column.alpha, .columns.alpha {
    margin-left: 0;
  }
  .column.omega, .columns.omega {
    margin-right: 0;
  }
 
  .container .offset-by-one, .container .offset1,
  .container .offset-by-two, .container .offset2,
  .container .offset-by-three, .container .offset3,
  .container .offset-by-four, .container .offset4,
  .container .offset-by-five, .container .offset5,
  .container .offset-by-six, .container .offset6,
  .container .offset-by-seven, .container .offset7,
  .container .offset-by-eight, .container .offset8,
  .container .offset-by-nine, .container .offset9,
  .container .offset-by-ten, .container .offset10,
  .container .offset-by-eleven, .container .offset11,
  .container .offset-by-twelve, .container .offset12,
  .container .offset-by-thirteen, .container .offset13,
  .container .offset-by-fourteen, .container .offset14,
  .container .offset-by-fifteen, .container .offset15 {
    padding-left: 0;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    position: relative;
    width: 420px;
    margin: 0 auto;
    padding: 0;
  }
 
  .one.column,
  .one.columns, .span1,
  .two.columns, .span2,
  .three.columns, .span3,
  .four.columns, .span4,
  .five.columns, .span5,
  .six.columns, .span6,
  .seven.columns, .span7,
  .eight.columns, .span8,
  .nine.columns, .span9,
  .ten.columns, .span10,
  .eleven.columns, .span11,
  .twelve.columns, .span12,
  .thirteen.columns, .span13,
  .fourteen.columns, .span14,
  .fifteen.columns, .span15,
  .sixteen.columns, .span16,
  .one-third.column,
  .two-thirds.column,
  .col,
  .one-third.column.alpha,
  .one-third.column.omega,
  .two-thirds.column.alpha,
  .two-thirds.column.omega {
    width: 380px;
	margin-bottom:5px;
  }
 
  .one_half,
  .one_third,
  .two_thirds,
  .informacion_f,
.ranking_f,
.content_1,
.content_2,
.tab_container,
.item_notice,
.three_fourths,
  .one_fourth,
  .one_fifth,
  .two_fifth,
  .three_fifth,
  .four_fifth,
  .one_sixth,
  .five_sixth,
  .imgarrow,
  .carousel-demo,
  .test {
    width: 100% !important;
  }
 
  .column, .columns {
    float: left;
    display: inline;
	margin-left: 20px;
 	margin-right:20px;
	margin-bottom: 0;
  }
  .column.alpha, .columns.alpha {
    margin-left: 0;
  }
  .column.omega, .columns.omega {
    margin-right: 0;
  }
 
  .container .offset-by-one, .container .offset1,
  .container .offset-by-two, .container .offset2,
  .container .offset-by-three, .container .offset3,
  .container .offset-by-four, .container .offset4,
  .container .offset-by-five, .container .offset5,
  .container .offset-by-six, .container .offset6,
  .container .offset-by-seven, .container .offset7,
  .container .offset-by-eight, .container .offset8,
  .container .offset-by-nine, .container .offset9,
  .container .offset-by-ten, .container .offset10,
  .container .offset-by-eleven, .container .offset11,
  .container .offset-by-twelve, .container .offset12,
  .container .offset-by-thirteen, .container .offset13,
  .container .offset-by-fourteen, .container .offset14,
  .container .offset-by-fifteen, .container .offset15 {
    padding-left: 0;
  }
}
.container::after {
    content: " ";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
 
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
 
.row:after,
.clearfix:after {
  clear: both;
}
 
.row,
.clearfix {
  zoom: 1;
}
 
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
 
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}