@charset "utf-8"; 

#slide_images,#slide_videos {
	position: relative;
	z-index: 10;
	height: 100%
}

#slide_images .slides_container,#slide_videos .slides_container {
	width: 380px;
	position: relative;
	margin: 0 auto
}



#slide_images .slides_container .item_galeria a,#slide_videos .slides_container .item_galeria a
	{
		display: block;	
}

#slide_images .GInext,#slide_images .GIprev,#slide_videos .GVnext,#slide_videos .GVprev
	{
	position: absolute;
	top: 44px;
	width: 24px;
	height: 40px;
	display: block;
	z-index: 11;
	text-indent: 99999px;
}

#slide_images .GInext,#slide_videos .GVnext {
	right: 0px;
	background-image: url(../img/png/tenis-icons-slide.png);
	background-repeat: no-repeat;
	background-position: 1px -55px;
}

#slide_images .GInext:hover,#slide_videos .GVnext:hover {
	background-position: 1px -93px;
}

#slide_images .GIprev:hover,#slide_videos .GVprev:hover {
	background-position: 1px 8px;
}

#slide_images .GIprev,#slide_videos .GVprev {
	left: 0px;
	background-image: url(../img/png/tenis-icons-slide.png);
	background-repeat: no-repeat;
	background-position: 1px -29px;
}

#slide_auspis {
	position: relative;
	z-index: 10;
	height: 100%
}

#slide_auspis .slides_container {
	width: 260px;
	position: relative;
	margin: 0 auto;
	text-align: center;
}

#slide_auspis .slides_container .item_auspiciador {
	width: 260px;
	height: 100%;
}

#slide_auspis .slides_container .item_auspiciador a {
	display: block
}

#slide_auspis .AUnext,#slide_auspis .AUprev {
	position: absolute;
	top: 35px;
	width: 24px;
	height: 43px;
	display: block;
	z-index: 11;
	text-indent: 99999px;
}

#slide_auspis .AUnext {
	right: 0px;
	background-image: url(../img/png/tenis-icons-slide.png);
	background-repeat: no-repeat;
	background-position: -61px center;
}

#slide_auspis .AUnext:hover {
	background-position: -97px center;
}

#slide_auspis .AUprev:hover {
	background-position: 0px center;
}

#slide_auspis .AUprev {
	left: 0px;
	background-image: url(../img/png/tenis-icons-slide.png);
	background-repeat: no-repeat;
	background-position: -36px center;
}

#slide_Front {
	position: relative;
	z-index: 10;
	height: 100%;
	width: 100%;

}

 #slide_Front .slides_container {
	width: 535px;
	height: 420px;
	/*width: auto;*/
	position: relative;
	float: left;
	margin: 0 auto;    
    border-radius: 10px;
border:1px solid black;
margin: 10px 0px 5px 5px;


}
.display_inline {
    display: inline-block;
    vertical-align: middle;
}

#slide_Front .slides_container .item_front a {
    display: block;
    width: 100%;
    height: 100%;
}
#slide_Front .slides_container .item_front a img {
    width: 100%;
    height: 100%;
}
#slide_Front .slides_container_more {
    width: 455px;
    height: 220px;
    position: relative;
   border:1px solid black;
   float: left;
    z-index: 11;
    margin: 10px 5px 5px 5px;
    border-radius: 10px;
}




#slide_Front .slides_container_dos{
    width: 225px;
    height: 190px;
    position: relative;
    border:1px solid black;
     float: left;
    z-index: 11;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;

}
#slide_Front .slides_container_tres{
width: 220px;
    height: 190px;
    position: relative;
    border:1px solid black;
     float: right;
    z-index: 11;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
}
#slide_Front .slides_control{
	width: 100%;
	height: 100%;
	left: 0;
}


#slide_Front .Frnext,#slide_Front .Frprev {
	position: absolute;
	top: 135px;
	width: 32px;
	height: 56px;
	display: block;
	z-index: 11;
	text-indent: 99999px;
}

#slide_Front .Frnext {
	right: 5px;
	background-image: url(../img/png/tenis-icons-slide-front.png);
	background-repeat: no-repeat;
	background-position: -107px center;
}

#slide_Front .Frnext:hover {
	background-position: -163px center;
}

#slide_Front .Frprev:hover {
	background-position: 1px center;
}

#slide_Front .Frprev {
	left: 5px;
	background-image: url(../img/png/tenis-icons-slide-front.png);
	background-repeat: no-repeat;
	background-position: -51px center;
}

#slide_Front .pagination {
	position: absolute;
	bottom: 60px;
	right: 10px;
	z-index: 5;
}

#slide_Front .pagination li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.25em;
	border-radius: 1em;
	background: #ddd;
	width: 18px;
	height: 18px;
	overflow: hidden;
}

#slide_Front .pagination li.current{
	background: #C00C2D;
}

#slide_Front .pagination li a{
	padding-left: 18px;
}

#slide_enlaces {
	position: relative;
	margin-top:13px;
	z-index: 10;
	height: 100%
}

#slide_enlaces .slides_container {
	width: 946px;
	position: relative;
	margin: 0 auto
}

#slide_enlaces .slides_container .item_enlaces {
	width: auto;
	height: 100%;
}

#slide_enlaces .slides_container .item_enlaces a {
	display: block
}

#slide_enlaces .ERnext,#slide_enlaces .ERprev {
	position: absolute;
	top: 20px;
	width: 24px;
	height: 43px;
	display: block;
	z-index: 11;
	text-indent: 99999px;
}

#slide_enlaces .ERnext {
	right: 0px;
	
	background-image: url(../img/png/tenis-icons-slide.png);
	background-repeat: no-repeat;
	background-position: -61px center;
}

#slide_enlaces .ERnext:hover {
	background-position: -97px center;
}

#slide_enlaces .ERprev:hover {
	background-position: 0px center;
}

#slide_enlaces .ERprev {
	
	left: 0px;
	background-image: url(../img/png/tenis-icons-slide.png);
	background-repeat: no-repeat;
	background-position: -36px center;
}


