.pimentel-container {
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    min-height: 150px;
    background: #FFF none repeat scroll 0% 0%;
}
.carrousel-container {
    margin-top: 0px;
    background-color: #C00C2D;
    border-radius: 0px 0px 10px 10px;
    height: 40px;
    min-height: 40px;
    max-width: 100%;
    font-family: "light";
}
a {
    color: white;
    text-decoration: none;
}
a {
    transition: color 0.3s ease-out 0s;
}

.uu {
    border: 0px none;
    vertical-align: middle;
}

.carousel-demo {
    
    float: right;
    height: 40px;
}

.carousel-demo .item_front_more {
    background-color: transparent;
    border: medium none;
    color: #FFF;
    float: left;
    font-weight: bold;
    height: 40px;
    list-style: outside none none;
    padding: 4px 0px 0px;
    margin: 0px 10px 0px 20px;
    text-align: center;
    font-size: 12px;
}

 .carousel-demo .item_front_more img {
    
    width: 32px;
    height: 32px;
    box-sizing: border-box;
}
.carousel-demo .item_front_more .title_more {
    
    color: #FFF;
    padding-left: 5px;
    font-size: 12px;
}

.views {
    position: absolute;
    text-align: center;
    color: #FFF;
    width: 100%;
    box-sizing: border-box;
    background-color: #B80E2D;
    border-radius: 5px;
}

   
