/* CSS Document */
#full-width-slider {
  width: 100%;
  color: #FFF;
}
.coloredBlock {
  padding: 12px;
  /*background: rgba(255,0,0,0.6);
  color: #FFF;*/
   width: 250px;
   left: 20%;
   top: 5%;
}
.infoBlock {
  position: absolute;
  top: 86%;
  bottom:0;
width: 100%;
height:80px;
  /*background: #FFF;*/
  background: rgba(26, 121, 21, 0.3);
  overflow: hidden;
  text-align:left;
  padding: 20px 50px 40px 50px;
}
.infoBlockLeftBlack {
  /*color: #FFF;
  background: #000;
  background: rgba(0,0,0,0.8);*/
  right: 100px;
  width:100%;
}


.infoBlock p {
font-family: 'Oxygen';
  font-style: normal;
  font-weight: 564;
	text-decoration:none;
		font-size:20px;
	line-height:22px;	
  margin: 0 0 10px 0;
  text-align:left;
    color: #FFF;

}
.infoBlock a {
font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
	text-decoration:none;
		font-size:16px;
	line-height:18px;	
  margin: 0;
  text-align:left;
    color: #FFF;
}
.photosBy {
  position: absolute;
  line-height: 24px;
  font-size: 12px;
  background: #FFF;
  /*color: #000;*/
  padding: 0px 10px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  top: auto;
  border-radius: 2px;
  z-index: 25; 
} 
.photosBy a {
  /*color: #000;*/
}
.fullWidth {
  max-width: 1688px;
  margin: 0 auto 24px;
}

@media screen and (min-width:960px) and (min-height:660px) {
  .heroSlider .rsOverflow,
  .royalSlider.heroSlider {
      height: 564px !important;
  }
}

@media screen and (min-width:960px) and (min-height:1000px) {
    .heroSlider .rsOverflow,
    .royalSlider.heroSlider {
        height: 564px !important;
    }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  .royalSlider.heroSlider,
  .royalSlider.heroSlider .rsOverflow {
    height: 450px !important;
  }
  .infoBlock {
    padding: 10px;
    height: 300px;
    max-height: 100%;
    min-width: 40%;
    top: 83%;
    right: auto;
  }
  .infoBlock a {
     font-size: 16px;
     line-height: 18px;
	} 
  .infoBlock p {
     font-size: 20px;
     line-height: 22px;	 
  }
}



