


#header #title figure{
display: inline-block;
margin: 22px 0px;
text-align: center;
vertical-align: middle;
width: 130px;}
#header #title > div{
display: inline-block;
margin: 5px 0px;
vertical-align: top;
width: 343px;
}
#header #title h1{text-align: center;}

#header #title,#header #sponsors{display: inline-block;vertical-align: middle;width: 650px;}
	#header #sponsors{width: 340px;position: relative;}
#nav{background-color: #b80e2d; height: 41px; width: 100%; position: fixed; left: 0; z-index: 99; top: 0; text-align: center;}
#front{height: 435px;}
#information_sport{width:650px;float: left;}
#ranking{background-color: #fff;width:340px;height:266px;margin-left: 10px;display: inline-block;}
#new{background-color: white;}
#imagen{background-color: #fff;width:495px;height:280px;float: left;}
#video{background-color: #fff;width:495px;height:280px;margin-left: 10px;display: inline-block;}
#related_link{background-color: #fff;height:155px;}
#footer{background-color:#ECEDEF;border-top: 2px solid #AFAEB4;height:175px;margin-top: -12px;position: relative; z-index: 5;}
#footer .container_footer{width: 1000px;margin: 0 auto;}
#footer .container_footer .contenido_contact,#footer .container_footer .panel_item_footer{display: inline-block;font-size: 14px;margin-top: 40px;padding: 10px 10px;vertical-align: top;width: 630px;}
#footer .container_footer .panel_item_footer{text-align: center;width: 320px;}
#footer .container_footer .contenido_contact span,#footer,#footer .container_footer .panel_item_footer span{color: #5B5B5F;}
#footer .container_footer .contenido_contact b,#footer .container_footer .panel_item_footer b{color: #5B5B5F;}
#footer .container_footer .contenido_contact .title b,#footer .container_footer .panel_item_footer .title{color:#BA0823;font-size: 16px;}
#footer .container_footer .panel_item_footer strong .link_soft{color:#73BDF7;text-decoration: none;}
#footer .container_footer .panel_item_footer strong .link_soft:hover{text-decoration:underline;}
/*#related_link{height:155px;}
#footer{background-color:#EEEEEE;border-top: 2px solid #AFAEB4;height:175px;margin-top: -12px;width: 100%}>>>>>>> .r28*/
