#publicacion_ini-gldp,#publicacion_fin-gldp,#fecha-gldp {
	z-index: 1
}

#fecha-gldp {
	z-index: 50
}

.gldp-default {
	float: left;
	font-family: Arial, Helvetica, sans-serif !important;
	background-color: #ccc !important;
	font-size: 0.8em !important;
	border: solid 1px #888;
}

.gldp-default table {
	border-spacing: 1px;
	border-collapse: inherit;
}

.gldp-default tr {
	line-height: 20px;
}

.gldp-default td {
	margin: 0;
	padding: 0;
	width: 20px;
	text-align: center;
}

.gldp-default-prevnext {
	font-family: "times new roman";
	color: #222;
	cursor: pointer;
	font-weight: bold;
}

.gldp-default-monyear {
	color: #222;
	font-size: 12px !important;
	font-weight: bold;
}

.gldp-default-dow {
	background-color: #f82200;
	color: #eee;
	font-size: 12px !important;
	font-weight: bold;
}

.gldp-default-day {
	background-color: #fff;
	color: #222;
	border: solid 1px #fff;
	font-weight: bold;
}

.gldp-default-day-hover {
	background-color: #fff;
	color: #f82200;
	border: solid 1px #f82200;
	cursor: pointer;
	font-weight: bold;
}

.gldp-default-selected {
	background-color: #fee;
	color: #222;
	border: solid 1px #f82200;
}

.gldp-default-today {
	background-color: #f82200;
	color: #fff;
	border: solid 1px #f82200;
	font-weight: bold;
}

.gldp-default-today-hover {
	background-color: #fff;
	color: #f82200;
	border: solid 1px #f82200;
	cursor: pointer;
	font-weight: bold;
}

.gldp-default-sat,.gldp-default-sun {
	background-color: #fff;
	color: #F33;
	border: solid 1px #fff;
	font-weight: bold;
}

.gldp-default-sat-hover,.gldp-default-sun-hover {
	background-color: #fff;
	color: #004f8f;
	border: solid 1px #f82200;
	cursor: pointer;
	font-weight: bold;
}

.gldp-default-noday {
	background-color: #fff;
	border: solid 1px #fff;
	color: #666;
	cursor: text;
}