@charset "utf-8"; 

ul,ol {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: underline;
}

body {
	cursor: default;
	font-family: Tahoma, sans-serif;
	padding: 0px;
	margin: 0px;
}

.fnd_deportes {
	background-color: #EBF5F2;
	background-image: url(../img/jpg/background_tenis.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}

html {
	height: 100%;
	background: transparent;
	min-width: 1000px;
	height: 100%;
	margin: 0;
	padding: 0;
	outline: 0;
	vertical-align: top;
	font-size: 100%;
}

img {
	border: none;
}

img,.corner_div_2 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.corner_div_4 {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.corner_div_6 {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.corner_div_noBottom_6 {
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}

.dpt_body {
	font-size: 12px;
	padding-bottom: 50px;
	min-width: 1200px
}

.dpt_container_uno {
	
}

.dpt_container_dos {
	
}

.dpt_section {
	width: 1000px;
	margin: 0 auto;
	background-color: #FFF;
}

.panel_background_uno {
	background-color: #FFF;
	background-image: url(../img/png/background_panel_uno.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	border: 1px solid #CCC;
}

.panel_item_portada {
	height: 380px;
	background-color: #f8f8f8;
	margin-bottom: 15px;
	position: relative
}

.panel_item_uno {
	background-repeat: repeat-x;
	background-position: left bottom;
	position: relative;
	height: 950px;
	border: 1px solid #CCC;
	background-image: url(../recursos/dpt_section_backgronud.png);
	z-index: 0;
}

.panel_item_dos {
	background-repeat: repeat-x;
	background-position: left top;
	position: relative;
	height: 130px;
	border: 1px solid #CCC;
	background-image: url(../recursos/dpt_section_bottom_backgronud.png);
	z-index: 10;
} /**/
.dpt_titulo_modulo {
	font-size: 26px;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	color: #069
}

.tn_backgroung_titulo_modulo {
	background-repeat: repeat-x;
	background-position: left bottom;
	border-style: solid;
	border-width: 1px;
}

.nofound {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	text-align: center;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #FCC;
	border-bottom-color: #FCC;
	background-color: #FFE6E6;
	color: #FF0F4B;
	padding: 10px 0px 10px 0px;
	margin: 20px 0 0 0;
}

.tn_backgroung_titulo_modulo_celeste {
	background-color: #43895F;
	background-image: url(../img/png/background_titulo_modulo_celeste.png);
	border-color: #066;
}

.tn_backgroung_titulo_modulo_azul {
	background-color: #43895F;
	background-image: url(../img/png/background_titulo_modulo_azul.png);
	border-color: #063;
}

.tn_backgroung_titulo_modulo_black {
	background-color: #666;
	background-image: url(../img/png/background_titulo_modulo_black.png);
	border-color: #333;
}

.panel_modulo_container {
	position: relative;
	margin: 0;
	height: auto;
}

.tn_list_modulo_celeste {
	background-image: url(../img/png/list_modulo_celeste.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 30px;
	width: 30px;
	position: absolute;
	z-index: 20;
	left: 5px;
	top: -1px;
	display: none;
}

.tn-titulo-container {
	padding: 5px 5px 2px 15px;
	height: 21px;
	background-image: url(../img/png/background_titulo_modulo_z.png);
	background-repeat: no-repeat;
	background-position: right top;
}

.style_font {
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: white;
	display: inline-block;
	letter-spacing: 0px;
	text-shadow: 1px 1px 1px #333;
}

.dpt_titulo_modulo .fond_titulo {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-image: url(../recursos/brra_blue_background.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	display: block;
	height: 25px;
	color: #fff;
	font-size: 22px;
	padding: 3px 0px 3px 5px;
}

.style_list_sup {
	position: absolute;
	right: 3px;
	top: 3px;
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url(../recursos/style_list_sup_background.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.dpt_titulo_modulo .font_inscrip {
	background-image: url(../recursos/brra_green_background.png);
	position: relative
}

.dpt_titulo_modulo .font_curso {
	background-image: url(../recursos/brra_blue2_background.png);
	position: relative
}

.dpt_titulo_modulo .font_result {
	background-image: url(../recursos/brra_red_background.png);
	position: relative
}

.tn-background-portada {
	background-color: f8f8f8;
	background-image: url(../img/png/background_white_portada.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#_deportes_portada {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 4;
	width: 650px;
	height: 370px;
	background-color: #f8f8f8;
}

#_deportes_ranking {
	position: absolute;
	top: 605px;
	right: 0px;
	z-index: 4;
	width: 339px;
	height: 333px;
	background-color: #f8f8f8;
	padding: 1px
}

#_deportes_noticia {
	position: absolute;
	top: 380px;
	left: 0px;
	z-index: 4;
	width: 340px;
	height: 560px;
	background-color: #f8f8f8;
	padding: 1px
}

#_deportes_torneo {
	position: absolute;
	top: 380px;
	left: 350px;
	z-index: 4;
	width: 300px;
	height: 215px;
	background-color: #f8f8f8;
	padding: 1px
}

#_deportes_galeria {
	position: absolute;
	top: 605px;
	left: 350px;
	z-index: 4;
	width: 300px;
	height: 180px;
	background-color: #f8f8f8;
	padding: 1px
}

#_deportes_auspiciadores {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 4;
	width: 339px;
	height: 160px;
	background-color: #f8f8f8;
	padding: 1px
}

#_deportes_inforDepor {
	position: absolute;
	top: 168px;
	right: 0px;
	z-index: 4;
	width: 339px;
	height: 427px;
	background-color: #f8f8f8;
	padding: 1px
}

#_deportes_publi {
	position: absolute;
	top: 795px;
	left: 350px;
	z-index: 4;
	width: 300px;
	height: 146px;
	background-color: none;
	padding: 0px
}

#_deportes_enlaces_rela {
	position: static;
}

#_deportes_inscripciones img,#_deportes_resultados img,#_deportes_actividad img,#_deportes_noticias img,#_deportes_concProm img,#_deportes_addwords img,#_deportes_patrocin img,.dpt_videos img
	{
	filter: alpha(opacity = 98);
	opacity: .98;
}

#_deportes_inscripciones img:hover,#_deportes_resultados img:hover,#_deportes_actividad img:hover,#_deportes_noticias img:hover,#_deportes_concProm img:hover,#_deportes_addwords img:hover,#_deportes_patrocin img:hover,.dpt_videos img:hover
	{
	filter: alpha(opacity = 100);
	opacity: 1;
}

.panel_item_uno .dpt_panel .dpt_item,.panel_item_dos .dpt_panel .dpt_item
	{
	position: absolute;
	z-index: 5
} /*Hover de los paneles*/
#panel_actividad_container .item_activid:hover .activid_content,#panel_addwords_container .item_addwords:hover .addwords_content,#panel_concProm_container .item_concProm:hover .concProm_content,#panel_noticia_container .item_noticia:hover .noticia_content,#panel_resultado_container .item_result:hover .result_content,#panel_inscriptiones_container .item_inscrip:hover .inscrip_content
	{
	color: #4D616C;
}

#panel_actividad_container .item_activid:hover,#panel_addwords_container .item_addwords:hover,#panel_concProm_container .item_concProm:hover,#panel_noticia_container .item_noticia:hover,#panel_resultado_container .item_result:hover,#panel_inscriptiones_container .item_inscrip:hover
	{
	background-color: #F1F5F5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#_deportes_portada .slides_container .slide .portada_image {
	height: 480px;
	width: 1200px;
	margin: 0 auto;
}

#_deportes_portada .slides_container .slide .item_caption_portada {
	position: absolute;
	top: 80px;
	left: 0px;
	z-index: 10;
	color: #FFF;
	font-size: 16px;
	background-image: url(../recursos/background-portada_caption.png);
	background-repeat: repeat-y;
	background-position: lef top;
	padding: 15px 15px 15px 160px;
	width: 515px
}

#_deportes_portada .slides_container .slide .item_caption_portada .portada_titu
	{
	font-family: 'Cuprum', sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: #79D3FF;
	text-shadow: 1px 1px 1px #000;
}

#_deportes_portada .slides_container .slide .item_caption_portada .portada_content
	{
	margin-right: 10px;
	padding: 5px 10px;
	text-align: justify;
}

#_deportes_portada .slides_container .slide .item_caption_portada .portada_link
	{
	padding: 5px 10px 5px 25px;
}

#_deportes_portada .slides_container .slide .item_caption_portada .portada_link a
	{
	color: #01539B;
	background-image:
		url(../recursos/deportes_portada_link_blue_background.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	display: inline-block;
	height: 20px;
	padding: 2px 5px;
	line-height: 16px;
	font-size: 16px;
	border: 1px solid #E0E0E0;
	border-bottom-color: #CCC;
	-webkit-box-shadow: 0 0px 5px rgba(255, 255, 255, .3);
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFF;
}

#_deportes_portada .slides_container .slide .item_caption_portada .portada_link a:hover
	{
	background-image: none;
	background-color: #F4F4F4;
	text-decoration: none;
}

#_deportes_portada .slides_container .slide .item_caption_portada .portada_link .list_link
	{
	color: #C03;
	font-size: 18px;
	padding-right: 5px
} /*RANKING*/
.tn-background-ranking {
	background-color: #546172;
	background-image: url(../img/png/background_panel_ranking.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

.panel_ranking {
	padding: 2px;
	background-color: #f8f8f8;
	margin: 0px 5px;
	height: 298px
}

.tn_ranking_list_header {
	background-color: #E2E2E2;
	padding: 3px 0px 3px 3px;
}

.tn_ranking_list_header div {
	display: inline-block;
	text-align: center
}

.tn_ranking_list_body div {
	display: inline-block
}

.tn_ranking_list_header strong {
	color: #333333
}

.tn_ranking_list_body span {
	color: #464646
}

.tn_ranking_list_body strong {
	color: #393
}

.tn_ranking_list_body {
	background-color: #F6F6F6;
	padding: 5px 0px 5px 3px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #FFF;
	border-bottom-color: #E3E3E3;
}

.tn_ranking_list_rank {
	width: 40px;
	text-align: center
}

.tn_ranking_list_body .tn_ranking_list_rank span {
	color: #C36;
	font-weight: bold
}

.tn_ranking_list_deport {
	width: 190px;
	padding: 0px 5px;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #D6D6D6;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #D6D6D6;
}

.tn_ranking_list_point {
	width: 70px;
	text-align: center
}

.tn-item {
	position: relative;
	background-color: #FFF;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	/*border-top-color: #F0F0F0;border-bottom-color: #D8D8D8;*/
	border-top-color: #E6E6E6;
	border-bottom-color: #fff;
	margin: 0px 0px;
}

.tn-nt-title {
	padding: 0px 0px 4px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
}

.tn-nt-title a {
	color: #494949;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 1px 1px 1px white;
}

.tn-nt-image {
	margin: 0px;
	z-index: 1;
}

.tn-nt-date {
	padding: 2px 4px;
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana, Geneva, sans-serif
}

.tn-nt-image a img_ {
	background-color: #F4F4F4;
	border: 1px solid #D6D6D6;
	padding: 2px
}

.tn-nt-image a:hover img_ {
	background-color: #F4F4F4;
	border: 1px solid #F03;
	padding: 2px
}

.tn-nt-content {
	color: #296F8F
}

#panel_notice_container_ultimo .item_notice,#panel_notice_container_destacado .item_notice,#panel_notice_container_anterior .item_notice
	{
	min-height: 140px;
	padding: 0px 15px 0px 0px;
	background-image: url(../img/png/background_tn_item.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#panel_notice_container_ultimo .item_notice:hover,#panel_notice_container_destacado .item_notice:hover,#panel_notice_container_anterior .item_notice:hover
	{
	background-color: #EEFBF0;
	background-image: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #A9E9B3;
	border-bottom-color: #D8F5DC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#panel_notice_container_ultimo .item_notice .tn-nt-title,#panel_notice_container_destacado .item_notice .tn-nt-title,#panel_notice_container_anterior .item_notice .tn-nt-title
	{
	margin: 6px 0px 0px 135px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E9E9E9;
}

#panel_notice_container_ultimo .item_notice .tn-nt-date,#panel_notice_container_destacado .item_notice .tn-nt-date,#panel_notice_container_anterior .item_notice .tn-nt-date
	{
	color: #C03
}

#panel_notice_container_ultimo .item_notice .tn-nt-image,#panel_notice_container_destacado .item_notice .tn-nt-image,#panel_notice_container_anterior .item_notice .tn-nt-image
	{
	margin: 0px;
	position: absolute;
	width: 120px;
	height: 120px;
	left: 5px;
	top: 8px;
	z-index: 1;
}

#panel_notice_container_ultimo .item_notice .tn-nt-content,#panel_notice_container_destacado .item_notice .tn-nt-content,#panel_notice_container_anterior .item_notice .tn-nt-content
	{
	margin: 0px 0px 0px 135px;
	color: #444;
	text-align: justify
}

#panel_torneo_container .item_torneo {
	min-height: 20px;
	padding: 5px 15px 5px 23px;
	background-color: #F6F6F6;
	border-top-color: #fff;
	border-bottom-color: #D8D8D8;
}

#panel_torneo_container .item_torneo .tn-list {
	background-image: url(../img/png/tenis-icons.png);
	background-repeat: no-repeat;
	background-position: -67px center;
	position: absolute;
	visibility: visible;
	z-index: 10;
	height: 100%;
	width: 20px;
	left: 0px;
	top: 0px;
}

#panel_torneo_container .item_torneo:hover .tn-list {
	background-position: -103px center;
}

#panel_torneo_container .item_torneo:hover .tn-title a {
	color: #060
}

#panel_torneo_container .item_torneo:hover {
	padding: 5px 15px 5px 23px;
	background-color: #E3F9E7;
	background-image: none;
}

#panel_torneo_container .item_torneo .tn-nt-title {
	margin: 0px 0px 0px 0px;
	color: #666666;
	font-weight: normal
}

#panel_torneo_container .item_torneo .tn-nt-title a {
	color: #333;
	font-weight: normal
}

#panel_torneo_container .item_torneo .tn-nt-content {
	margin: 0px 0px 0px 135px;
	color: #444
}

#panel_gallery_container {
	height: 140px;
	width: auto;
	position: relative;
	z-index: 1px;
	padding: 5px;
	overflow: hidden;
}

#panel_gallery_container .item_galeria {
	margin: 0px
}

#panel_gallery_container .item_galeria .tn-image {
	margin: 0 6px 6px 0px;
	display: inline-block
}

#panel_gallery_container .item_galeria .tn-image a {
	overflow: hidden;
	position: relative;
}

#panel_gallery_container .item_galeria .tn-image a i {
	bottom: 2px;
	height: 24px;
	left: 2px;
	position: absolute;
	width: 24px;
	background-image: url(../img/png/gY6pCnDw29i.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#panel_enlaces_container {
	height: 90px;
	width: auto;
	position: relative;
	z-index: 1px;
	padding: 5px;
	overflow: hidden;
}

#panel_enlaces_container .item_enlaces {
	margin: 0px
}

#panel_enlaces_container .item_enlaces .tn-image {
	margin: 0 2px 0px 0px;
	display: inline-block
}

#panel_front_container {
	height: 360px;
	width: auto;
	position: relative;
	z-index: 1px;
	padding: 5px;
	overflow: hidden;
}

#panel_front_container .item_front {
	margin: 0px
}

#panel_front_container .item_front .tn-image {
	margin: 0px 0px 0px 0px;
	display: inline-block
}

#panel_front_container .item_front .tn-caption {
	padding: 5px 10px;
	position: absolute;
	overflow: visible;
	z-index: 10;
	height: 70px;
	bottom: 0px;
	width: 620px;
	background-image: url(../img/png/background_black_front.png);
	background-repeat: repeat-y;
	background-position: left bottom;
}

#panel_front_container .item_front .tn-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: normal;
	color: #FFF;
}

#panel_front_container .item_front .tn-title a {
	color: #FFF;
}

#panel_front_container .item_front .tn-nt-content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #939393;
}

#panel_auspiciador_container {
	height: 120px;
	width: auto;
	position: relative;
	z-index: 1px;
	padding: 5px;
	overflow: hidden;
}

#panel_auspiciador_container .item_auspiciador {
	margin: 0px
}

#panel_auspiciador_container .item_auspiciador .tn-image {
	margin: 0px 0px 0px 0px;
	display: inline-block
}

#panel_inforDepor_container_aviso .item_inforDepor,#panel_inforDepor_container_ficha .item_inforDepor,#panel_inforDepor_container_calendar .item_inforDepor
	{
	min-height: 20px;
	padding: 5px 15px 5px 23px;
	background-color: #F6F6F6;
	border-top-color: #fff;
	border-bottom-color: #D8D8D8;
}

#panel_inforDepor_container_aviso .item_inforDepor .tn-list,#panel_inforDepor_container_ficha .item_inforDepor .tn-list,#panel_inforDepor_container_calendar .item_inforDepor .tn-list
	{
	background-image: url(../img/png/tenis-icons.png);
	background-repeat: no-repeat;
	background-position: -67px center;
	position: absolute;
	visibility: visible;
	z-index: 10;
	height: 100%;
	width: 20px;
	left: 0px;
	top: 0px;
}

#panel_inforDepor_container_aviso .item_inforDepor:hover .tn-list,#panel_inforDepor_container_ficha .item_inforDepor:hover .tn-list,#panel_inforDepor_container_calendar .item_inforDepor:hover .tn-list
	{
	background-position: -103px center;
}

#panel_inforDepor_container_aviso .item_inforDepor:hover .tn-title a,#panel_inforDepor_container_ficha .item_inforDepor:hover .tn-title a,#panel_inforDepor_container_calendar .item_inforDepor:hover .tn-title a
	{
	color: #060
}

#panel_inforDepor_container_aviso
 
.item_inforDepor
:hover
,
#panel_inforDepor_container_ficha
 
.item_inforDepor
:hover
,
#panel_inforDepor_container_calendar
 
.item_inforDepor
:hover
,
{
padding
:
5px
 
15
px
 
5
px
 
23
px
;background-color
:
#E3F9E7
;background-image
:none
;
}
#panel_inforDepor_container_aviso .item_inforDepor .tn-nt-title,#panel_inforDepor_container_ficha .item_inforDepor .tn-nt-title,#panel_inforDepor_container_calendar .item_inforDepor .tn-nt-title
	{
	margin: 0px 0px 0px 0px;
	color: #666666;
	font-weight: normal
}

#panel_inforDepor_container_aviso .item_inforDepor .tn-nt-title a,#panel_inforDepor_container_ficha .item_inforDepor .tn-nt-title a,#panel_inforDepor_container_calendar .item_inforDepor .tn-nt-title a
	{
	color: #333;
	font-weight: normal
}

#panel_inforDepor_container_aviso .item_inforDepor .tn-nt-content,#panel_inforDepor_container_ficha .item_inforDepor .tn-nt-content,#panel_inforDepor_container_calendar .item_inforDepor .tn-nt-content
	{
	margin: 0px 0px 0px 135px;
	color: #444
}

#panel_option_modulo {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	background-color: #F8F8F8;
	background-image: url(../img/png/background_option_modulo.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#panel_option_modulo .option_container {
	
}

#panel_option_modulo .option_container .content_option {
	display: inline-block;
}

#panel_option_modulo .option_container ul.content_option li {
	display: inline-block;
	list-style-image: none;
	list-style-type: none;
	margin: 0px 2px
}

#panel_option_modulo .option_container ul.content_option li a {
	display: inline-block;
	padding: 5px 8px;
	text-decoration: none;
	color: #333;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-shadow: 1px 1px 1px white;
}

#panel_option_modulo .option_container ul.content_option li.active a,#panel_option_modulo .option_container ul.content_option li a:hover
	{
	background-color: #333;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 1px 1px 1px #000;
}

.optionGallery {
	overflow: hidden;
	position: absolute;
	visibility: visible;
	z-index: 5;
	height: 100%;
	width: 160px;
	top: 0px;
	right: 5px;
}

.optionGallery .opti {
	display: inline-block;
	height: 100%;
	width: auto;
	float: left;
	padding: 2px 5px;
}

.optionGallery .opti a {
	padding: 3px 3px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #FFF;
	display: inline-block;
}

.optionGallery .opti a.a3g4t5d {
	background-color: #F8F8F8;
	border: 1px solid #E6E6E6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #006F4A;
	background-image: url(../img/png/a3g4t5d.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	text-shadow: 1px 1px 1px #C9C9C9
}

.pagination_modulo {
	height: auto;
	width: 165px;
	margin: 5px auto 0px auto;
	position: relative;
	z-index: 0px
}

.previous_modulo,.next_modulo,.start_modulo,.end_modulo {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	width: 24px;
	height: 24px;
	overflow: hidden;
}

.start_modulo a,.previous_modulo a,.next_modulo a,.end_modulo a {
	padding: 5px 8px;
	display: inline-block;
	text-indent: 9999px
}

.pagina {
	display: inline-block;
	color: #999;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
}

.start_modulo {
	background-image: url(../img/png/start.png);
}

.previous_modulo {
	background-image: url(../img/png/previous.png);
}

.next_modulo {
	background-image: url(../img/png/next.png);
}

.end_modulo {
	background-image: url(../img/png/end.png);
}

.panel_modulo_container_footer {
	color: #6CF;
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 20px;
	width: 100%;
	z-index: 11;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E3E3E3;
	text-align: right
}

.panel_modulo_container_footer a {
	color: #999;
	padding: 2px 5px;
	display: inline-block
}

.panel_modulo_container_footer a:hover {
	color: #333
}

.panel_item_footer {
	padding: 5px;
	width: 990px;
	margin: 2px auto 0 auto;
	background-color: #111;
	color: #FFF;
	text-align: center
}

.panel_item_footer .by {
	color: #6CF
}