@charset "utf-8"; 

#intr_menu {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 258px;
	list-style-image: none;
	list-style-type: none;
}

#intr_menu li {
	margin-bottom: 5px;
	list-style-image: none;
	list-style-type: none;
}

#intr_menu li .intr_li_background {
	background-image: url(../img/png/background_btn.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 37px;
	width: 252px;
}

#intr_menu li .active_menu {
	background-position: 0px -49px;
}

#intr_menu li .active_menu a {
	color: #FFF;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}

#intr_menu li .intr_li_background a {
	display: block;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
}

#intr_menu ul li,#intr_menu li:last-child {
	border: none;
	list-style-image: none;
	list-style-type: none;
}

#intr_menu a {
	font-weight: normal;
	display: block;
	color: #272727;
	text-decoration: none;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 17px;
	padding: 3px 5px;
	text-shadow: 1px 1px 1px #fff;
}

#intr_menu a:hover {
	color: #000;
	-webkit-transition: color 0.2s linear;
	text-decoration: none;
}

#intr_menu ul a {
	color: #1F1F1F;
	text-shadow: none;
	font-size: 11px;
	text-align: right;
	padding-right: 40px;
	padding: 5px 15px;
	font-size: 14px;
	line-height: 1.2em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	text-shadow: 1px 1px 1px #fff;
}

#intr_menu ul li {
	margin: 0px
}

#intr_menu ul a:hover {
	color: #AE0057;
	text-shadow: 1px 1px 1px #fff;
	-webkit-transition: color, background-color 0.2s linear;
	text-decoration: none;
}

#intr_menu ul {
	background: none;
	width: 92%;
	margin-left: 5%;
}

#intr_menu li ul {
	display: none;
}