@charset "utf-8"; 

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	cursor: default;
	font-family: Tahoma, sans-serif;
	min-width: 1000px
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	background-color: #FFF;
}

img {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

a {
	text-decoration: none;
}

a:Hover {
	text-decoration: underline;
}

ul.ul-intr {
	list-style-image: none;
	list-style-type: none;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	position: relative;
}

ul.ul-intr li {
	list-style-image: none;
	list-style-type: none;
	display: inline-block;
}

ul.ul-intr  li a {
	display: inline-block;
}

.img-intr {
	background-color: #313131;
	display: inline-block;
}

.img-intr a img {
	margin: 0px;
	padding: 2px;
	overflow: hidden;
	border: 1px solid #E8E8E8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #313131;
	display: inline-block;
}

.img-intr a:hover img {
	border: 1px solid #FF7DB1;
	background-color: #000;
	opacity: 0.9;
}

.img-intr a:hover img {
	border: 1px solid #FF2D81;
	background-color: #fff;
}

body {
	position: relative;
	background-image: url(../img/png/bg-body.png);
	background-repeat: repeat;
}

.intr_panel_left {
	margin: 0 0 0 9px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.intr_panel_rigth {
	margin: 0px 30px 0 265px;
	padding: 10px 0 0 0;
	position: relative;
	background-color: #FFF;
	border: 1px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.intr_logo {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	padding: 10px 10px 10px 10px
}

.intr_usser {
	color: #82001A;
	font-size: 12px;
	text-align: center
}

.intr_usser span {
	color: #009900;
}

.intr_option {
	color: #333;
	padding: 10px 0px;
	text-align: center
}

.intr_option a {
	color: #009900;
	display: inline-block;
	text-align: center;
	padding: 0 5px;
	font-size: 12px
}

.intr-titulo-mod {
	padding: 4px;
	font-size: 22px;
	width: 96%;
	display: block;
	color: white !important;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	text-decoration: none;
	background-color: #222;
	background-image: url(../img/png/overlay-button.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	margin: auto;
}

.intr_footer {
	text-align: center;
	padding: 5px 0px 15px 0px;
}

.black-in {
	background-color: #313131;
	border: 1px solid #000000;
}

.magenta-in {
	background-color: #C50159;
	border: 1px solid #a9014b;
}

.red-in {
	background-color: #F03600;
	border: 1px solid #CC2E00;
}

.blue-in {
	background-color: #2BA4B5;
	border: 1px solid #2BA4B5;
}

.green-in {
	background-color: #88B309;
	border: 1px solid #779C07;
}

.orange-in {
	background-color: #E85100;
	border: 1px solid #E85100;
}

.orangellow-in {
	background-color: #EA9E00;
	border: 1px solid #EA9E00;
}

.impar-in {
	background-color: #D6D6EB;
	border: 1px solid #D6D6EB;
}

.par-in {
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

.corners-div-interior,.corner-input-intr {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

form input.text-input,form select,form textarea,form .wysiwyg,.CodeMirror-wrapping,.box,.top-item-form .item .input .text input[type="text"]
	{
	padding: 6px;
	font-size: 13px;
	border: 1px solid #D5D5D5;
	color: #203646;
	background-color: white;
	background-image: url(../img/png/bg-form-field.gif);
	background-repeat: repeat-x;
	background-position: left top;
	-webkit-border-radius: 5px;
}

.buttons {
	text-align: left;
	padding: 10px 0
}

.small-input {
	width: 90%
}

a.bootom,input.bootom {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F0F0F0;
	border-right-color: #C0C0C0;
	border-bottom-color: #C0C0C0;
	border-left-color: #F0F0F0;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 40px;
	margin-right: 3px;
	margin-left: 3px;
	display: inline-block;
	height: 30px;
	text-align: right;
	vertical-align: middle;
	background-color: #F0F4F7;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.intr-label {
	padding: 10px 5px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #404040;
	font-weight: bold;
}

a.bootom div {
	text-align: right;
	color: #333;
	font-size: 14px;
	margin-top: 5px;
	vertical-align: middle;
	display: inline-block;
}

.nuevo {
	background-image: url(../recursos/new_doc.png);
	background-repeat: no-repeat;
	background-position: 2px center;
}

.save {
	background-image: url(../recursos/1304617409_save_32.png);
	background-repeat: no-repeat;
	background-position: 2px center;
}

.cancel {
	background-image: url(../recursos/1304617501_Cancel.png);
	background-repeat: no-repeat;
	background-position: 2px center;
}

.intr-checkbox {
	display: inline-block;
	position: relative;
	overflow: hidden;
	padding: 1px 10px;
}

.intr-checkbox>input {
	padding: 0;
	margin: 0;
	height: 16px;
	width: 16px;
	float: left;
	position: absolute;
	left: 0;
	/*opacity: 0;*/
}

.intr-checkbox:not (#foo ) >input[type="checkbox"]:checked+label {
	background-position: 0 -81px;
}

.intr-checkbox:not (#foo ) >input[type="checkbox"]:checked+label {
	background-position: 0 -81px;
}

.intr-checkbox:not (#foo ) >input[type="radio"]+label {
	background-position: 0 -161px;
}

.intr-checkbox:not (#foo ) >input+label {
	background: url(../img/png/gr_custom-inputs.png) 0 -1px no-repeat;
	height: 16px;
}

.intr-checkbox>label {
	line-height: 16px;
	color: #333;
	padding: 1px 0 1px 25px;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	-webkit-transition: color 1s ease;
	transition: color 1s ease;
}

.intr-checkbox:not (#foo ) >input[type="radio"]:hover:checked+label,.intr-checkbox:not
	(#foo ) >input[type="radio"]:focus:checked+label,.intr-checkbox:not (#foo
	) >input[type="radio"]:checked+label:hover,.intr-checkbox:not (#foo ) >input[type="radio"]:focus:checked+label
	{
	background-position: 0 -261px;
}

.intr-checkbox:not (#foo ) >input[type=radio]:checked+label {
	background-position: 0 -241px;
}

.intr-checkbox:not (#foo ) >input[type=checkbox]:checked+label {
	background-position: 0 -81px;
}

.intr-checkbox:not (#foo ) >input[type=checkbox]:hover:checked+label,.intr-checkbox:not
	(#foo ) >input[type=checkbox]:focus:checked+label,.intr-checkbox:not (#foo
	) >input[type=checkbox]:checked+label:hover,.intr-checkbox:not (#foo )
	>input[type=checkbox]:focus:checked+label {
	background-position: 0 -101px;
}

.intr-checkbox:not (#foo ) >input[type=radio]:hover:checked+label,.intr-checkbox:not
	(#foo ) >input[type=radio]:focus:checked+label,.intr-checkbox:not (#foo
	) >input[type=radio]:checked+label:hover,.intr-checkbox:not (#foo ) >input[type=radio]:focus:checked+label
	{
	background-position: 0 -261px;
}

.buttongeneric {
	border: 1px solid #CCC;
	border-radius: 5px;
	height: 30px;
	font-weight: bold;
	font-size: 15px;
	padding: 5px;
	cursor: pointer;
	margin: 3px;
}

.main-content-box {
	padding: 0 20px
}

ul.content-box-tabs {
	list-style: none;
	float: right;
	padding: 12px 15px 0 0 !important;
	margin: 0 !important;
}

.content-box,.content-box-header,ul.content-box-tabs li a.current,.shortcut-button,.notification
	{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.content-box {
	border: 1px solid #CCC;
	margin: 0 0 20px 0;
	background: white;
}

.content-box-header h3 {
	padding: 12px 15px 10px;
	float: left;
}

.content-box-header {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.content-box-header {
	margin-top: 1px;
	height: 40px;
	background-color: #E5E5E5;
	background-image: linear-gradient(top, #f5f5f5, #EAEAEA);
	background-image: -moz-linear-gradient(top, #f5f5f5, #EAEAEA);
	background-image: -o-linear-gradient(top, #f5f5f5, #EAEAEA);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5),
		to(#EAEAEA) );
	background-image: -webkit-linear-gradient(top, #f5f5f5, #EAEAEA);
}

ul.content-box-tabs {
	float: right;
	padding: 12px 15px 0 0 !important;
	margin: 0 !important;
}

ul.content-box-tabs li {
	float: left;
	margin: 0;
	padding: 0 !important;
	background-image: none !important;
}

ul.content-box-tabs li a.current {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

ul.content-box-tabs li a.current {
	background: white;
	border: 1px solid #CCC;
	border-bottom: 0;
	margin: 0;
}

ul.content-box-tabs li a {
	color: #333;
	padding: 8px 10px;
	display: block;
	margin: 1px;
	border-bottom: 0;
}

.clear {
	clear: both;
}

.content-box-content {
	padding: 20px;
	font-size: 13px;
	border-top: 1px solid #CCC;
}

.content-box table {
	width: 100%;
	border-collapse: collapse;
}

.content-box tbody tr.alt-row {
	background: #F3F3F3;
}

.content-box tbody tr {
	background: white;
}

.content-box table td,.content-box table th {
	padding: 10px;
	line-height: 1.3em;
}

.content-box .formNew table td,.content-box .formNew table th {
	padding: 0px;
	line-height: 2em;
}

.content-box table thead th {
	font-weight: bold;
	font-size: 15px;
	border-bottom: 1px solid #DDD;
}

.main-content-box ul,.main-content-box ol {
	padding: 10px 0;
}

.main-content-box ul li {
	background: url('../admin/images/icons/bullet_black.png') center left
		no-repeat;
	padding: 4px 0 4px 20px;
	list-style-image: none;
	list-style-type: none;
}

ul.shortcut-buttons-set li { /*float: left;*/
	display: inline-block;
	margin: 0 30px 0 0;
	padding: 0 !important;
	background: 0;
}

.shortcut-button {
	border: 1px solid #CCC;
	background: #F7F7F7 url('../admin/images/shortcut-button-bg.gif') top
		left no-repeat;
	display: block;
	width: 130px;
	margin: 0 0 20px 0;
}

.shortcut-button span {
	border: 1px solid white;
	display: block;
	padding: 15px 5px 15px 5px;
	text-align: center;
	color: #555;
	font-size: 13px;
	line-height: 1.3em;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.shortcut-button span img {
	margin-bottom: 10px;
	width: 48px;
}

.shortcut-button span:hover {
	color: #57A000;
	text-decoration: underline;
}

#page-intro {
	font-size: 17px;
	padding: 0 0 20px 0;
}

.message_image {
	font-family: Arial, Helvetica, sans-serif;
	color: #00698C;
	background-color: #FBFBFB;
	margin: auto;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	font-size: 12px;
	border: 1px solid #CDCDCD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.message_image strong {
	color: #F30;
}

.form-state {
	padding: 5px 20px;
}

.form-state .message {
	width: 200px;
	margin: auto;
	padding: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E2FAE6;
	border-right-color: #8EE89A;
	border-bottom-color: #8EE89A;
	border-left-color: #E2FAE6;
	background-image: url(img/png/message.png);
	background-repeat: no-repeat;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	color: #060;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.form-state .message.exito {
	padding: 10px 10px 10px 50px;
	background-color: #ECFBEE;
	background-position: 5px 5px;
}

.content-box tbody tr .head-table-form {
	background: transparent;
	background-color: #E5E5E5;
	background-image: linear-gradient(top, #f5f5f5, #EAEAEA);
	background-image: -moz-linear-gradient(top, #f5f5f5, #EAEAEA);
	background-image: -o-linear-gradient(top, #f5f5f5, #EAEAEA);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5),
		to(#EAEAEA) );
	background-image: -webkit-linear-gradient(top, #f5f5f5, #EAEAEA);
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

#option-form {
	background-color: #F3FCED;
	padding: 5px;
	text-align: center;
	margin: auto 20px; /*width: 600px;*/
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #DCF7CA;
	border-bottom-color: #D8F5C5;
	text-align: center;
}

#option-form .item {
	background-color: #FFF;
	border: 1px solid #C8D4B9;
	font-family: ;
	font-size: 12px;
	font-weight: bold;
	color: #4C731D;
	text-decoration: none;
	display: inline-block;
	margin: auto 5px;
	padding: 5px 15px 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#option-form .item-active {
	color: #FFF;
	background-color: #6F973E;
	border-top-color: #4D741D;
	border-right-color: #4D741D;
	border-bottom-color: #4D741D;
	border-left-color: #4D741D;
}

#option-form .item-desactive {
	opacity: 1;
	color: #CCC;
	border-top-color: #E8E8E8;
	border-right-color: #E8E8E8;
	border-bottom-color: #E8E8E8;
	border-left-color: #E8E8E8;
}

.top-item-form {
	background-color: #F5F5F5;
	background-image: url(../img/png/overlay-button.png);
	background-repeat: repeat-x;
	background-position: left top;
	border: 1px solid #DFDFDF;
	padding: 0px 30px;
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 20px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.top-item-form .item {
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
	padding: 6px;
}

.top-item-form .item:hover { /*background-color: #F8F8F8;*/
	padding: 5px;
	background-image: url(../img/png/overlay-button.png);
	background-repeat: repeat-x;
	background-position: left top;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #E9E9E9;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #EFEFEF;
	border-right-color: #DBDBDB;
	border-bottom-color: #EFEFEF;
	border-left-color: #DBDBDB;
}

.top-item-form .item .label-input {
	padding: 0px 0px;
	font-family: calibri, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #060;
	font-weight: bold;
	display: inline
}

.top-item-form .item .label-input span {
	font-size: 12px
}

.top-item-form .item .input {
	display: inline
}

.top-item-form .item .input .text {
	display: inline;
	width: 80px
}

.top-item-form .item .input .text input[type="text"] {
	width: 80px;
}

.top-item-form .item .intr-checkbox {
	padding: 1px 1px;
}

.top-item-form .item .intr-checkbox>label {
	padding: 1px 3px 1px 18px;
	font-size: 12px;
}
#colorSelector,#colorSelected{
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	width: 190px;
}
#colorSelected{
	height: 27px;
}
#colorSelector{
	background: #f0f4f7;
	border: 2px solid #F0F2F3;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #d0d0d0;
	cursor: pointer;
	margin: 0px auto;
	padding: 4px;
	text-align: center;
	width: 40px;
}

.txt_paying{
	display: none;
}