div.jGrowl div.success {
	background-image: url(../img/uploadify/Check.png);
	background-repeat: no-repeat;
	background-position: 6px 6px;
}

div.jGrowl div.error {
	background: url(../img/uploadifyError.png) no-repeat 6px 6px;
}

div.jGrowl div.warning {
	background: url(../img/uploadifyAlert.png) no-repeat 6px 6px;
}

div.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer {
	background-color: #000;
	color: #fff;
	opacity: .85;
	filter: alpha(opacity =   85);
	zoom: 1;
	width: 300px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	display: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
} /* original jGrowl css styling */
div.center div.jGrowl-notification,div.center div.jGrowl-closer {
	margin-left: auto;
	margin-right: auto;
}

div.jGrowl div.jGrowl-notification {
	min-height: 40px;
}

div.jGrowl div.jGrowl-notification div.close {
	float: right;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}

div.jGrowl div.jGrowl-closer {
	height: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

div.jGrowl div.jGrowl-notification div.header {
	font-weight: bold;
	font-size: 14px;
	margin-left: 60px;
}

div.jGrowl div.jGrowl-notification div.message {
	font-size: 12px;
	margin-left: 60px;
}

div.jGrowl div.jGrowl-notification p {
	font-size: 6px;
}

div.jGrowl {
	padding: 10px;
	z-index: 9999;
} /** Special IE6 Style Positioning **/
div.ie6 {
	position: absolute;
}

div.ie6.top-right {
	right: auto;
	bottom: auto;
	left: expression((   0 -   jGrowl.offsetWidth +   (  
		document.documentElement.clientWidth ?  
		document.documentElement.clientWidth :   document.body.clientWidth) +
		  (   ignoreMe2 =   document.documentElement.scrollLeft ?  
		document.documentElement.scrollLeft :   document.body.scrollLeft ) ) +
		  'px' );
	top: expression((   0 +   (   ignoreMe =   document.documentElement.scrollTop
		?   document.documentElement.scrollTop :   document.body.scrollTop) )
		+   'px' );
}

div.ie6.top-left {
	left: expression((   0 +   (   ignoreMe2 =  
		document.documentElement.scrollLeft ?  
		document.documentElement.scrollLeft :   document.body.scrollLeft) ) +
		  'px' );
	top: expression((   0 +   (   ignoreMe =   document.documentElement.scrollTop
		?   document.documentElement.scrollTop :   document.body.scrollTop) )
		+   'px' );
}

div.ie6.bottom-right {
	left: expression((   0 -   jGrowl.offsetWidth +   (  
		document.documentElement.clientWidth ?  
		document.documentElement.clientWidth :   document.body.clientWidth) +
		  (   ignoreMe2 =   document.documentElement.scrollLeft ?  
		document.documentElement.scrollLeft :   document.body.scrollLeft ) ) +
		  'px' );
	top: expression((   0 -   jGrowl.offsetHeight +   (  
		document.documentElement.clientHeight ?  
		document.documentElement.clientHeight :   document.body.clientHeight)
		+   (   ignoreMe =   document.documentElement.scrollTop ?  
		document.documentElement.scrollTop :   document.body.scrollTop ) ) +  
		'px' );
}

div.ie6.bottom-left {
	left: expression((   0 +   (   ignoreMe2 =  
		document.documentElement.scrollLeft ?  
		document.documentElement.scrollLeft :   document.body.scrollLeft) ) +
		  'px' );
	top: expression((   0 -   jGrowl.offsetHeight +   (  
		document.documentElement.clientHeight ?  
		document.documentElement.clientHeight :   document.body.clientHeight)
		+   (   ignoreMe =   document.documentElement.scrollTop ?  
		document.documentElement.scrollTop :   document.body.scrollTop ) ) +  
		'px' );
}

div.ie6.center {
	left: expression((   0 +   (   ignoreMe2 =  
		document.documentElement.scrollLeft ?  
		document.documentElement.scrollLeft :   document.body.scrollLeft) ) +
		  'px' );
	top: expression((   0 +   (   ignoreMe =   document.documentElement.scrollTop
		?   document.documentElement.scrollTop :   document.body.scrollTop) )
		+   'px' );
	width: 100%;
} /** Normal Style Positions **/
body>div.jGrowl {
	position: fixed;
}

body>div.jGrowl.top-left {
	left: 0px;
	top: 0px;
}

body>div.jGrowl.top-right {
	right: 0px;
	top: 0px;
}

body>div.jGrowl.bottom-left {
	left: 0px;
	bottom: 0px;
}

body>div.jGrowl.bottom-right {
	right: 0px;
	bottom: 0px;
}

body>div.jGrowl.center {
	top: 0px;
	width: 50%;
	left: 25%;
}