/*
Default style definitions for:

Uploadify v1.6.0
Copyright (C) 2009 by Ronnie Garcia
Co-developed by Travis Nickels
*/
#fileUploadstyleQueue{
	margin-top: 5px;
	padding: 3px;
	background-color: white;
	border-color: #cecece;
	border-style: solid;
	border-width: 1px;
	overflow: auto;
	height: 150px;
	width: 300px;
}
div.fileUploadQueue{max-height:300px;width:500px; overflow:auto;margin:auto}
.fileUploadQueueItem {
	font: 11px Verdana, Geneva, sans-serif;
	background-color: #F5F5F5;
	border: 3px solid #E5E5E5;
	margin-top: 5px;
	padding: 10px;
	width: 400px;
}
.fileUploadQueueItem .cancel {
	float: right;
}
.fileUploadProgress {
	background-color: #FFFFFF;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	margin-top: 10px;
	width: 100%;
}
.fileUploadProgressBar {
	background-color: #0099FF;
}